Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

Instrument onBufferToHostBuffer to show src/dst sizes
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Temporarily disable caching
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add client instance scoped buffer cache
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Try to buffer static cache tensors only
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Propagate CMAKE_BUILD_TYPE from upstream
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

remove dep on clang-17
  .github/Dockerfile.cibuildwheel
  CMakeLists.txt
  python_package/setup.py
  third_party/CMakeLists.txt
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 203f270cb3a55c88cf14258842448416809cad88 2025-08-16
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 203f270cb3a55c88cf14258842448416809cad88 2025-08-16 (#1027)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

init gemma3 27b single device
  tests/jax/multi_chip/bounties/gemma3/README.md
  tests/jax/multi_chip/bounties/gemma3/__init__.py
  tests/jax/multi_chip/bounties/gemma3/example.py
  tests/jax/multi_chip/bounties/gemma3/jax_config.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

remove dependency on gemma
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

reimplement gemma3
  tests/jax/multi_chip/bounties/gemma3/example.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/__init__.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

add custom generate function
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

rm generation_utils
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added use_cache = false for qwen3 loader to fix PCC issue in tt-torch (#93)
  qwen_3/embedding/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 97e2e0f0 plus some touchups (skip large models)
  pytest.ini
  requirements.txt
  tests/runner/conftest.py
  tests/runner/requirements.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Initial changes to get test_models.py working in tt-xla
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update TorchModelTester _get_forward_method_args() for list/tuple inputs
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add 308 passing tests to .test_durations
  .test_durations
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 94af4a5f6f9eaeda05a82b68245bc5e2e4434f17 2025-08-17
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 94af4a5f6f9eaeda05a82b68245bc5e2e4434f17 2025-08-17 (#1028)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 20e10bda from Aug16
  pytest.ini
  requirements.txt
  tests/runner/conftest.py
  tests/runner/requirements.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Initial changes to get test_models.py working in tt-xla
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add 308 passing tests to .test_durations
  .test_durations
Owners: @ajakovljevicTT, @mrakitaTT

Update TorchModelTester _get_forward_method_args() for list/tuple inputs
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to c6d0d5edfbe65e0a99d2e46fb2c77a1678b16397 2025-08-18
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to c6d0d5edfbe65e0a99d2e46fb2c77a1678b16397 2025-08-18 (#1029)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

switch to my branch on ttmlir
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Delete some bs code by clod
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fixed path for examples/jax
  examples/jax/alexnet_multichip.py
  examples/jax/simple_regression.py
Owners: @ajakovljevicTT, @mrakitaTT

Pre-commit
  examples/jax/simple_regression.py
Owners: @ajakovljevicTT, @mrakitaTT

Add pytest fixture to reset seed and torch dynamo state between tests
  tests/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix pre-commit:
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

comment out _extend_context_manager to test CI
  tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/backend/backend.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

use tt-torch backend for torch tests
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove erf and gelu decomps
  tests/conftest.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tests/torch/single_chip/test_torch_xla_basic.py
  tt_torch/backend/decompositions.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add torch_xla basic tests
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add comments/docstrings as per Nikola's request
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix bug that would cause CPU run to execute on device accidentally
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
