Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

Updates to --arch flag to take n150, p150 etc
  .github/workflows/test.yml
  tests/runner/conftest.py
  tests/runner/test_config.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

forge models run on CiV1 for now
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Remove arch specific overrides that probably are safe
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Updates to pass validation and add googlenet passing model
  .test_durations
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Uplift third_party/tt-mlir to a3e996e529b9a379c25542e43c2fe1bec8c5339a 2025-08-23
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to a3e996e529b9a379c25542e43c2fe1bec8c5339a 2025-08-23 (#1103)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Try removing 3 lines from tt_torch/__init__.py including register TTPjrtPlugin suggested by Predrag
  tt_torch/__init__.py
Owners: @ajakovljevicTT, @mrakitaTT

Fixed wrong rebase
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Decrease PCC in vgg/pytorch-vgg19-full-inference and vit/pytorch-vit_h_14-full-inference for BH only
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Copy some PCC tightening from tt-torch
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Tighten PCC in 3 other models referencing tt-torch
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Try adding ultralytics-thop
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add JAX models for MarianMT and LongT5 (#106)
  longt5/text_classification/jax/__init__.py
  longt5/text_classification/jax/loader.py
  marian_mt/text_classification/jax/__init__.py
  marian_mt/text_classification/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Increase PCC a bit on 3 tests
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

add custom generate function
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

reimplement gemma3
  tests/jax/multi_chip/bounties/gemma3/example.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/__init__.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

init gemma3 27b single device
  tests/jax/multi_chip/bounties/gemma3/README.md
  tests/jax/multi_chip/bounties/gemma3/__init__.py
  tests/jax/multi_chip/bounties/gemma3/example.py
  tests/jax/multi_chip/bounties/gemma3/jax_config.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

remove dependency on gemma
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

rm generation_utils
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

enable kv cache
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

update requirements.txt
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Run only yolox and enable TT_TORCH_REQS_DEBUG=1 on nightly
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Hardcode to smaller group of tests
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

skip build
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Comment out actual running of tests
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Try BH only and different test group
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add more
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add back original group10 of 15 tests
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Remove skip inside test_models.py to run models
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Skip model run and change to failing list of tests
  .github/workflows/test.yml
  tests/runner/test_models.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Add yolox after every test to narrow down fail
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Trim test list
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Just run yolov6 and yolox
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Hardcode to a mixture of tests
  .github/workflows/test.yml
  tests/runner/test_config.py
  tests/runner/test_models.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Update run-id reuse
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add a Docker IRD image (#1100)
  .github/Dockerfile.base
  .github/Dockerfile.ird
  .github/build-docker-images.sh
  .github/workflows/build-image.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Resove comments
  .github/workflows/pre-commit.yml
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Use ftp gnu mirror
  .github/Dockerfile.ird
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add compiler config to all other testers, and propagate compile_options using compiler_config. Run pre commit.
  tests/infra/compiler_config.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/jax/single_chip/ops/test_abs.py
  tests/jax/single_chip/ops/test_add.py
  tests/jax/single_chip/ops/test_cosine.py
  tests/jax/single_chip/ops/test_divide.py
  tests/jax/single_chip/ops/test_exponential.py
  tests/jax/single_chip/ops/test_log.py
  tests/jax/single_chip/ops/test_maximum.py
  tests/jax/single_chip/ops/test_minimum.py
  tests/jax/single_chip/ops/test_multiply.py
  tests/jax/single_chip/ops/test_negate.py
  tests/jax/single_chip/ops/test_power.py
  tests/jax/single_chip/ops/test_rsqrt.py
  tests/jax/single_chip/ops/test_sine.py
  tests/jax/single_chip/ops/test_sqrt.py
  tests/jax/single_chip/ops/test_subtract.py
  tests/jax/single_chip/ops/test_tanh.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT
