Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

Initial changes to get test_models.py working in tt-xla
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Improve dockerfile
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Update docker
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Update dockerfile
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Dont set python 3.11 as default
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Various test_config.py PCC / arch_specific overrides changes
  .test_durations
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Bunch of Updates / Hacks for testing models on CI
  .github/workflows/call-test.yml
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
  .test_durations
  tests/conftest.py
  tests/runner/conftest.py
  tests/runner/requirements.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Update to latest tt-forge-models from August 26 (+test_config/test_durations updates)
  .test_durations
  requirements.txt
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Remove bunch of SKIP tests that at one point failed with errors
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Allow test_full_model to run
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Majorly trim tests to see if hangs reproducible
  .github/workflows/on-nightly.yml
  .github/workflows/test-full-model-matrix.json
  tests/runner/test_config.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Delete autoencoder_linear for now
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Just run test_full_model
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 9575e267ec4a17df5430ad68e4c596bf1950f486 2025-08-27
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 9575e267ec4a17df5430ad68e4c596bf1950f486 2025-08-27 (#1126)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Use python 3.11
  python_package/setup.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix python 3.11 errors
  tests/infra/comparators/comparison_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Workflow Refactor and Simplification (#1123)
  .github/actions/inspect-changes/action.yml
  .github/workflows/call-build-docker.yml
  .github/workflows/call-build-docs.yml
  .github/workflows/call-pre-commit.yml
  .github/workflows/call-test.yml
  .github/workflows/docs.yml
  .github/workflows/issue-notification.yml
  .github/workflows/issue-update-date.yml
  .github/workflows/manual-benchmark.yml
  .github/workflows/manual-update-durations.yml
  .github/workflows/maunal-test.yml
  .github/workflows/on-pr.yml
  .github/workflows/pr-main.yml
  .github/workflows/push-main.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/schedule-nightly.yml
  .github/workflows/schedule-uplift.yml
  .github/workflows/spdx.yml
  .github/workflows/test-full-model-matrix.json
  .github/workflows/workflow-run-collect-data.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

initial flow draft
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

add dispatch input
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

refactor
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

use demo branch on tt forge
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

dummy commit
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

switch ref to demo branch
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

point to release build
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

pass run id from build step
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

fix
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

remove file
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

add trigger for testing
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

add reminder
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

reminder
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

testing out
  .github/workflows/maunal-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Pdate docs and remove pined python versions frmo workflows
  .github/workflows/manual-update-durations.yml
  .github/workflows/schedule-nightly.yml
  docs/src/getting_started_build_from_source.md
  tests/jax/multi_chip/bounties/Llama_3.1-8B/README.md
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Use ubuntu-lates to check if we need to build docker image
  .github/workflows/call-build-docker.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

new ccl mlir branch
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

fabric config patch
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

further advance mlir to test a hypothesis
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Fix input name inconsistency for build docs
  .github/workflows/call-build-docs.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix input name inconsistency for build docs (#1131)
  .github/workflows/call-build-docs.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add additional permissiont to push workflow
  .github/workflows/push-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
