Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic

Only gen 16 tokens in test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Do not build vllm plugin wit codecov
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add vllm test job
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Remove more changes
  integrations/vllm_plugin/vllm_tt/platform.py
Owners: @ajakovljevicTT, @mrakitaTT

Add test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add python_requires to vllm_tt setup
  integrations/vllm_plugin/setup.py
Owners: @ajakovljevicTT, @mrakitaTT

remove more uneeded changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

place back more removed code.
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove uneeded line, add wheel build CI WIP
  .github/workflows/call-build.yml
  .github/workflows/pr-main.yml
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP bringup sdpa and sdpa_decode op with unit tests
  python_package/tt_torch/custom_ops.py
  tests/infra/runners/torch_device_runner.py
  tests/torch/single_chip/ops/test_custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Upgrade transformers to be compatible with vllm
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT

cleanup comment
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

apply cursor suggestions
  python_package/tt_torch/custom_ops.py
  tests/infra/runners/torch_device_runner.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add issue link for memory info support. Fix CI config
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

Add vllm requirement, add vllm plugin to python path in dev environment
  venv/activate
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Remove even more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

remove python_package from PYTHONPATH
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

remove more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP fixes to workflow file. Add vllm plugin test to job matrix
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add test to basic-test.json
  .github/workflows/call-test.yml
  .github/workflows/test-matrix-presets/basic-test.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP CI for vllm plugin 6
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fixes
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

delete log file which was accidentally added
  integrations/vllm_plugin/out.log
Owners: @ajakovljevicTT, @mrakitaTT

Use public torch method to allow custom ops in graph
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Fix python abi version isssue, and codecov inability
  .github/workflows/call-build.yml
  integrations/vllm_plugin/setup.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix allow_in_graph logic
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Add comment describing why we create a specific attention mask if is_causal is true
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Dont assert generated tokens for test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

remove more changes. Remove device setting and freeze_support from test file
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/worker.py
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Upgrade requirements
  python_package/requirements.txt
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Add gqa comment
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

restore venv/activate
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 4
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add back some paged attn metadata
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Update licensing info
  NOTICE
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

Add push mark to opt generation test
  .github/workflows/test-matrix-presets/basic-test.json
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT

WIP CI for vllm plugin 5
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Implement changes for TT
  integrations/vllm_plugin/out.log
  integrations/vllm_plugin/vllm_tt/__init__.py
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

install vllm_tt wheel in in call-test
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic
