Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

Add scatter_cache example
  examples/pytorch/scatter_cache.py
Owners: @ajakovljevicTT, @mrakitaTT

try mkdir in patch instead
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

More changes
  src/tt/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

calculate pcc using comparator
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

UNIAD Pytorch Model Bringup (#155)
  uniad/pytorch/__init__.py
  uniad/pytorch/loader.py
  uniad/pytorch/src/motion_head.py
  uniad/pytorch/src/motion_utils.py
  uniad/pytorch/src/occ_head.py
  uniad/pytorch/src/occ_utils.py
  uniad/pytorch/src/panseg_head.py
  uniad/pytorch/src/panseg_utils.py
  uniad/pytorch/src/planning_head.py
  uniad/pytorch/src/planning_utils.py
  uniad/pytorch/src/track_head.py
  uniad/pytorch/src/track_utils.py
  uniad/pytorch/src/transformer.py
  uniad/pytorch/src/uniad_e2e.py
  uniad/pytorch/src/uniad_track.py
  uniad/pytorch/src/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix to exclude placeholder models from experimental nightly by not auto applying markers for placeholder tests
  tests/runner/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Single test 'contains' feature (#1464)
  .github/workflows/call-test.yml
  .github/workflows/manual-test-single.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Remove batchnorm decomposition
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

More fixes
  src/tt/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

More fixes
  src/tt/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Run few falcon models on push
  .github/workflows/test-matrix-presets/model-test-push.json
  tests/runner/test_config.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

Mark mutated buffers as input, non mutated buffers as constant
  python_package/tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Revert comment change
  python_package/tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

More fixes
  src/tt/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

adjust pcc calculation
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

test_config.py updates
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Update llava red test and tt_forge_models version with fix
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Back to push tests
  .github/workflows/test-matrix-presets/model-test-push.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Mark mutated buffers as input, non mutated buffers as constant (#1469)
  python_package/tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Update llava/pytorch/loader.py to use cast_input_to_type() to solve dtype errors (#165)
  llava/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix to exclude placeholder models from experimental nightly by not auto applying markers for placeholder tests
  tests/runner/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Setup clientinstance scoped tensor cache
  inc/common/pjrt_implementation/client_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Another one
  src/tt/CMakeLists.txt
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix lexical weight shape mismatches
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

move FlagEmbedding import and link input issue
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
  venv/requirements-dev.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Uplift to latest tt-forge-models and update test_config.py for many passing models (mostly 7B+) for BH
  .test_durations
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

calculate pcc using comparator
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

adjust pcc calculation
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

fix lexical weight shape mismatches
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

move FlagEmbedding import and link input issue
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
  venv/requirements-dev.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

basic interface
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

display pcc to find lowest
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Update llava test to xfail with ticket
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Correct text -> 'Too large for single chip' to be consistent with others
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Uplift to latest tt-forge-models from Sept 25 and add ~32 passing/e2e 7B+ models to test_config.py (#1476)
  .test_durations
  tests/runner/conftest.py
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Added option to load shard specs from model loader
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/utilities/__init__.py
  tests/infra/utilities/types.py
  tests/infra/workloads/workload.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add env var options to only capture red models, and to not skip/xfail tests
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Added support for falcon
  python_package/tt_torch/backend/backend.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

CI/Infra changes for supported_archs, n300-llmbox, json updates etc
  .github/workflows/test-matrix-presets/model-test-passing.json
  .github/workflows/test-matrix-presets/model-test-push.json
  .github/workflows/test-matrix-presets/model-test-xfail.json
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

Bringup UNIAD Model
  tests/runner/test_config.py
  venv/requirements-dev.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT
