Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT

Add base llama model, requires transformers 4.52.4 to run
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

[wip] Add base llama demofile
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

[wip] premove inputs to device, move model.to() device
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

[wip] Add debug logging to model args
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Move static cache initialization to host and post-ctor transfer literal tensors to device so they aren't constevalled
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

[wip] Add SPMD bplate and shard specs => currently hitting illegal reshape, no ccls?
  examples/pytorch/llama.py
  examples/pytorch/spmd_matmul_test.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Dump per-pass IR with LOGGER_LEVEL=VERBOSE (#1288)
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add custom generation loop impl
  examples/pytorch/llama.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

show broken llama generate example and why it doesn't work
  examples/pytorch/llama_generate.py
Owners: @ajakovljevicTT, @mrakitaTT

Log BufferInstance lifetime experiments
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Add detailed GM logging, use torch.export.export instead, move model.compile() to latest location
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Remove fabric config disablement @ end of execute(); add commented out return static caches to host which won't work with different mark_step() I think b/c of xlatensor cache
  examples/pytorch/llama.py
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Create ClientInstance scoped cache for static cache tensors, which should persist between executors and allow sharded runtime tensors to be shared between executors. Doesn't quite work yet.
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Move runtime device lifetime to client_instance and share with loadedExecutableInstances
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

point tt-mlir to rebased test branch 4e7b914c0
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Fix rebase issue
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add test to basic-test.json
  .github/workflows/call-test.yml
  .github/workflows/test-matrix-presets/basic-test.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Add push mark to opt generation test
  .github/workflows/test-matrix-presets/basic-test.json
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

[pjrt] reuse device if possible
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Cache test branch in mlir to reapply shardings
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 0b21fc98e80ed37b31f3beddf62c30e241a96555 2025-09-18
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 0b21fc98e80ed37b31f3beddf62c30e241a96555 2025-09-18 (#1418)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

merge fix
  pjrt_implementation/inc/api/executable_image.h
Owners: @ajakovljevicTT, @mrakitaTT

Bringup of Pointpillars (#150)
  pointpillars/pytorch/__init__.py
  pointpillars/pytorch/loader.py
  pointpillars/pytorch/src/__init__.py
  pointpillars/pytorch/src/model.py
  pointpillars/pytorch/src/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

install vllm_tt wheel in in call-test
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Addressed some comments
  inc/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.h
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Enable optimizer (no sharding)
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Addressed more comments
  inc/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.h
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

[ci] run examples in ci
  .github/workflows/test-matrix-presets/basic-test.json
  examples/jax/simple_regression.py
  tests/examples/test_examples.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

Fix PCC issue due to padding (#103)
  llama/causal_lm/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Revert "Create ClientInstance scoped cache for static cache tensors, which should persist between executors and allow sharded runtime tensors to be shared between executors. Doesn't quite work yet."
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Dont assert generated tokens for test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Only gen 16 tokens in test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Reapply input shardings on static cache tensors per iteration
  examples/pytorch/llama.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

add FunctionModule wrapper
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

add support for numpy outputs
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

temporary bge-m3 encode test
  tests/torch/single_chip/models/bge_m3/__init.py
  tests/torch/single_chip/models/bge_m3/test_bge_m3.py
  tests/torch/single_chip/models/bge_m3/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Fix comment describing shape of qkv
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

add FlagEmbedding requirement
  python_package/requirements.txt
  tests/torch/single_chip/models/bge_m3/tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

remove unnecessary logic
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT
