Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT

Remove more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove uneeded line, add wheel build CI WIP
  .github/workflows/call-build.yml
  .github/workflows/pr-main.yml
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

restore venv/activate
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

.
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Do not build vllm plugin wit codecov
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Add python_requires to vllm_tt setup
  integrations/vllm_plugin/setup.py
Owners: @ajakovljevicTT, @mrakitaTT

Add test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Remove more changes
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

Add vllm test job
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Dont assert generated tokens for test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

install vllm_tt wheel in in call-test
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Fix activate bug:
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Add back some paged attn metadata
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Add issue link for memory info support. Fix CI config
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix comment describing shape of qkv
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

changes required to support SDPA prefil lop
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  python_package/tt_torch/custom_ops.py
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

use ttnn both prefill/decode sdpa
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

update tt-mlir commit
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Refactor buildModule, final rebase
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Implemented composite ops for torch.
  python_package/torch_plugin_tt/__init__.py
  python_package/tt_torch/composite_ops.py
  tests/torch/single_chip/ops/test_composite_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Rename tt_torch to tt_torch_backend
  examples/pytorch/explicit_argument_type_annotation_mnist.py
  examples/pytorch/serialization_example.py
  python_package/torch_plugin_tt/__init__.py
  python_package/tt_torch_backend/__init__.py
  python_package/tt_torch_backend/backend/__init__.py
  python_package/tt_torch_backend/backend/backend.py
  python_package/tt_torch_backend/backend/decompositions.py
  python_package/tt_torch_backend/backend/passes.py
  python_package/tt_torch_backend/custom_ops.py
  python_package/tt_torch_backend/serialization.py
  python_package/tt_torch_backend/tools.py
  tests/torch/single_chip/ops/test_custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add stuff
  examples/jax/serialization_example.py
  test_serialize_example.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
  tests/jax/single_chip/ops/test_add.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

remove run_shape_prop
  python_package/tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Fixing
  python_package/tt_jax/serialization.py
  tests/infra/runners/device_runner.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT
