Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

show broken llama generate example and why it doesn't work
  examples/pytorch/llama_generate.py
Owners: @ajakovljevicTT, @mrakitaTT

Cleanup excess changes to other files
  examples/pytorch/llama_generate.py
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Check in singledevice demo, disable torch_xla._XLAC._xla_sync_multi
  examples/pytorch/single_llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Remove changes to inc/common/pjrt_implementation/buffer_instance.h
  inc/common/pjrt_implementation/buffer_instance.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add detailed GM logging, use torch.export.export instead, move model.compile() to latest location
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Add backend switch to use torch_xla.sync() when output mutations are found
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Cleanup basic llama.py test
  examples/pytorch/llama.py
  examples/pytorch/llama_generate.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix rebase issue
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove singledevice llama test
  examples/pytorch/single_llama.py
Owners: @ajakovljevicTT, @mrakitaTT

remove examples/pytorch/spmd_matmul_test.py
  examples/pytorch/spmd_matmul_test.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix pre-commit
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Fix debug build
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix debug build
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Explicitly deallocate input tensors to prevent memleak when reusing device
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

WIP new vllm plugin based off salars vllm fork for ttnn
  integrations/vllm_plugin/vllm_tt/__init__.py
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/input_batch.py
  integrations/vllm_plugin/vllm_tt/model_loader.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/scheduler.py
  integrations/vllm_plugin/vllm_tt/worker.py
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix debug build (#1513)
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Setup clientinstance scoped tensor cache
  inc/common/pjrt_implementation/client_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add static cache example tests for tensor persistence validation
  examples/pytorch/test_tensor_persistence.py
Owners: @ajakovljevicTT, @mrakitaTT

Add multiloop tensor add test (passing due to torch_xla bufferinstance aliasing)
  examples/pytorch/test_tensor_persistence.py
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Add debug printing for tensor cache keys, bufferinstance shape printing
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add multiloop pure test
  examples/pytorch/test_tensor_persistence.py
Owners: @ajakovljevicTT, @mrakitaTT

Unit tests for sdpa, taken from Lewis's branch.
  python_package/tt_torch/custom_ops.py
  tests/torch/single_chip/ops/test_custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

modified tt-mlir version to custom branch. Modified qwen3 loader in forge models for setting number of layers and such.
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

made one more modification to make unit test work that I missed from Lewis's commit.
  tests/infra/runners/torch_device_runner.py
  tests/torch/single_chip/ops/test_custom_ops.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Editted test_custom_ops.py to replicate Qwen3 attention. Test decode for 32k to 1M.
  tests/torch/single_chip/ops/test_custom_ops.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add element-wise scatter tests
  tests/jax/single_chip/ops/test_scatter.py
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift third_party/tt-mlir to bc865f5f2b77b53dddaf6c2223494b36b5734dd4 2025-09-30
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to bc865f5f2b77b53dddaf6c2223494b36b5734dd4 2025-09-30 (#1515)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

sparse chechout in call test
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add more dirs
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add venv
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add entire venv dir
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add tests dir
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

more granular sparse checkout
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

omit tt forge models from checkout
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add .test_durations to call_test checkout as well
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

don't checkout large files
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add .gitmodules
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Reorder imports and check if numpy is in sys.modules.
  python_package/jax_plugin_tt/monkeypatch.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

test
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic
