Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

Implement changes for TT
  .github/workflows/call-build.yml
  .github/workflows/call-test.yml
  .github/workflows/pr-main.yml
  .github/workflows/test-matrix-presets/basic-test.json
  NOTICE
  integrations/vllm_plugin/setup.py
  integrations/vllm_plugin/vllm_tt/__init__.py
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
  python_package/requirements.txt
  python_package/tt_torch/custom_ops.py
  tests/integrations/vllm_plugin/test_opt_generation.py
  third_party/CMakeLists.txt
  venv/activate
  venv/requirements-dev.txt
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT

Bring up Detr3d pytorch model (#104)
  detr3d/pytorch/__init__.py
  detr3d/pytorch/loader.py
  detr3d/pytorch/src/bbox_coder.py
  detr3d/pytorch/src/dataset.py
  detr3d/pytorch/src/detr.py
  detr3d/pytorch/src/detr3d_head.py
  detr3d/pytorch/src/fpn.py
  detr3d/pytorch/src/gridmask.py
  detr3d/pytorch/src/resnet.py
  detr3d/pytorch/src/transformer.py
Owners: @ajakovljevicTT, @mrakitaTT

Check in singledevice demo, disable torch_xla._XLAC._xla_sync_multi
  examples/pytorch/single_llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Refactor torch ops and graphs
  tests/torch/single_chip/graphs/test_simple_matmul.py
  tests/torch/single_chip/ops/test_conv2d.py
  tests/torch/single_chip/ops/test_eltwise_binary_ops.py
  tests/torch/single_chip/ops/test_eltwise_unary_ops.py
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add ccl op tests (all_reduce and all_gather). TODO: add reduce_scatter
  tests/infra/utilities/utils.py
  tests/torch/multi_chip/n300/ops/data_parallel/batch_sharded/test_all_reduce.py
  tests/torch/multi_chip/n300/ops/test_ccl.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add DP MNIST. Add TP mnist with manual shard marking. Add data-flow aware alternating sharding for linear layers (WIP)
  tests/torch/multi_chip/n300/models/data_parallel/batch_sharded/mnist_inference.py
  tests/torch/multi_chip/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

initial test_bge_m3.py
  tests/torch/single_chip/models/bge_m3/test_bge_m3.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

[pjrt] reuse device if possible
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

BGE test updates
  tests/torch/single_chip/models/bge_m3/test_bge_m3.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add bge m3 model loaders (#132)
  bge_m3/encode/pytorch/__init__.py
  bge_m3/encode/pytorch/loader.py
  bge_m3/encode/pytorch/requirements.txt
  bge_m3/pytorch/__init__.py
  bge_m3/pytorch/loader.py
  bge_m3/pytorch/requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Fix pointpillars ModelTask.OBJECT_DETECTION -> ModelTask.CV_OBJECT_DET (#161)
  pointpillars/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Add helper cast_input_to_type() use in several affected models for dtype_override on inputs (#160)
  gemma/pytorch/loader.py
  gpt_neo/sequence_classification/pytorch/loader.py
  llama/causal_lm/pytorch/loader.py
  phi3/causal_lm/pytorch/loader.py
  phi3/seq_cls/pytorch/loader.py
  phi3/token_cls/pytorch/loader.py
  tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

add bge_m3 encode torch test
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add newly passing/running gpt_neo and phi3 models after tt-forge-models fixes
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

only torch push tests
  .github/workflows/test-matrix-presets/basic-test.json
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

Update --validate-test-config command to target test_all_models don't report on placeholder models
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Revert some unnecessary changes and remove some unused functions from headers
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/dylib_platform.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  src/common/platform.cc
  src/tt/client.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

install FlagEmbedding
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add detr3d and vadv2 entries to test_config.py xfailed with issues since DRAM or L1 OOM
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

New tt-mlir commit
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

lower pcc assert to 0.98
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

lower pcc to 0.92
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Update to latest tt_forge_models from Sept24 and update test_config (new models, newly passing models) (#1459)
  .github/workflows/call-test.yml
  tests/runner/test_config.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

lower pcc assert to 0.98
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

add bge_m3 encode torch test
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

remove not started status
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

install FlagEmbedding
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

lower pcc to 0.92
  tests/torch/single_chip/models/bge_m3/test_bge_m3_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Update Dockerfile.base
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Uplift third_party/tt-mlir to adcd4a0cd9192cd63e2374d67061e6a590d2edc6 2025-09-25
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to adcd4a0cd9192cd63e2374d67061e6a590d2edc6 2025-09-25 (#1462)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Switch training models from nightly -> model_test
  tests/jax/single_chip/models/gpt2/base/test_gpt2_base.py
  tests/jax/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

fix args when having quote characters
  .github/workflows/manual-test-single.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

fix
  .github/workflows/manual-test-single.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

support quotation marks in call-test also
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

added new argument contains
  .github/workflows/call-test.yml
  .github/workflows/manual-test-single.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/infra/connectors/torch_device_connector.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

add: comments
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT
