Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

Undo requirements change
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Jax Training infra
  python_package/jax_plugin_tt/monkeypatch.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/jax/single_chip/models/gpt2/base/test_gpt2_base.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Implements artifact caching (#1056)
  .github/Dockerfile.base
  .github/Dockerfile.ird
  .github/workflows/build.yml
  .github/workflows/call-build.yml
  .github/workflows/call-test.yml
  .github/workflows/on-nightly.yml
  .github/workflows/on-pr.yml
  .github/workflows/on-push.yml
  .github/workflows/perf-bench-tt-forge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Comment modified
  tests/infra/runners/torch_device_runner.py
  tests/infra/workloads/workload.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Correct type in job name
  .github/workflows/on-nightly.yml
  .github/workflows/on-push.yml
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix dtype mismatch between model and input in ResNet HF post-processing (#111)
  resnet/pytorch/loader.py
  resnet/pytorch/src/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP
  python_package/jax_plugin_tt/monkeypatch.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

reschedule the nigthly tests for 3 hours earlier
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Correct typo in job name (#1111)
  .github/workflows/on-nightly.yml
  .github/workflows/on-push.yml
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

WIP
  python_package/jax_plugin_tt/monkeypatch.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/jax/single_chip/models/gpt2/base/test_gpt2_base.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

WIP
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Ran pre-commit to make code uniform and coherent, so it would pass tests for merging.
  tests/jax/multi_chip/bounties/falcon3_7b/README.md
  tests/jax/multi_chip/bounties/falcon3_7b/model/configuration_falcon3.py
  tests/jax/multi_chip/bounties/falcon3_7b/model/jax_config.py
  tests/jax/multi_chip/bounties/falcon3_7b/model/model_falcon3.py
  tests/jax/multi_chip/bounties/falcon3_7b/requirements.txt
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax_sharded.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/multi_vs_single.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/single_vs_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/data_utils.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/flax_utils.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/torch_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

WIP
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

update JAX tests for mnist and mlp_mixer
  tests/jax/single_chip/models/mlpmixer/model_implementation.py
  tests/jax/single_chip/models/mlpmixer/test_mlpmixer.py
  tests/jax/single_chip/models/mnist/cnn/dropout/model_implementation.py
  tests/jax/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/model_implementation.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
  tests/jax/single_chip/models/mnist/cnn/tester.py
  tests/jax/single_chip/models/mnist/mlp/model_implementation.py
  tests/jax/single_chip/models/mnist/mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Plumb trough IRs up to SerializedExecutableInstance
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Plumbing trough SerializedExecutableInstance and python side
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/serialized_executable_instance.h
  src/common/pjrt_implementation/executable_instance.cc
  src/common/pjrt_implementation/serialized_executable_instance.cc
  ttxla_tools/__init__.py
  ttxla_tools/ttxla_tools.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix a typo in a name
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Attached locs to dumped IR when serializing
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fixes
  examples/pytorch/serialization_example.py
  ttxla_tools/__init__.py
Owners: @ajakovljevicTT, @mrakitaTT

ttxla_tools restructured to make it more convenient for both jax and torch
  examples/jax/serialization_example.py
  examples/pytorch/serialization_example.py
  ttxla_tools/__init__.py
  ttxla_tools/jax.py
  ttxla_tools/torch.py
  ttxla_tools/ttxla_tools.py
Owners: @ajakovljevicTT, @mrakitaTT

[build] split python dependencies
  python_package/requirements-base.txt
  python_package/requirements-dev.txt
  python_package/requirements.txt
  python_package/setup.py
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Update JAX tests for MT5 and Opt
  tests/jax/single_chip/models/mt5/base/test_mt5_base.py
  tests/jax/single_chip/models/mt5/large/test_mt5_large.py
  tests/jax/single_chip/models/mt5/tester.py
  tests/jax/single_chip/models/mt5/xl/test_mt5_xl.py
  tests/jax/single_chip/models/opt/opt_125m/test_125m.py
  tests/jax/single_chip/models/opt/opt_1_3b/test_1_3b.py
  tests/jax/single_chip/models/opt/opt_2_7b/test_2_7b.py
  tests/jax/single_chip/models/opt/opt_350m/test_350m.py
  tests/jax/single_chip/models/opt/opt_6_7b/test_6_7b.py
  tests/jax/single_chip/models/opt/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update testlist examples
  .github/workflows/test.yml
  tests/runner/test_config.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Add back wormhole
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to f574d1b9a8fb0dd5cb0fb62686ca08ad49ec5ef5 2025-08-26
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to f574d1b9a8fb0dd5cb0fb62686ca08ad49ec5ef5 2025-08-26 (#1118)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update JAX tests for Roberta models
  tests/jax/single_chip/models/roberta/base/test_roberta_base.py
  tests/jax/single_chip/models/roberta/large/test_roberta_large.py
  tests/jax/single_chip/models/roberta/tester.py
  tests/jax/single_chip/models/roberta_prelayernorm/efficient_mlm_m0_40/test_efficient_mlm_m0_40.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Infra workload class merge (#985)
  tests/infra/__init__.py
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/runners/utils.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/single_chip/graph/graph_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/__init__.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/torch_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix sliding window issue
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

init gemma3 tp
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3_tp.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_multi.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Check if Docker exists on ubuntu-latest
  .github/build-docker-images.sh
  .github/workflows/build-image.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Split longer running tests into 3 group
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Remove tt-xla build from docker image
  .github/Dockerfile.cibuildwheel
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Workflow Refactor and Simplification
  .github/Dockerfile.ci
  .github/workflows/call-build-docker.yml
  .github/workflows/call-build-docs.yml
  .github/workflows/call-pre-commit.yml
  .github/workflows/call-test.yml
  .github/workflows/docs.yml
  .github/workflows/issue-notification.yml
  .github/workflows/issue-update-date.yml
  .github/workflows/manual-benchmark.yml
  .github/workflows/manual-update-durations.yml
  .github/workflows/maunal-test.yml
  .github/workflows/pr-main.yml
  .github/workflows/push-main.yml
  .github/workflows/schedule-cleanup.yml
  .github/workflows/schedule-nightly.yml
  .github/workflows/schedule-uplift.yml
  .github/workflows/spdx.yml
  .github/workflows/test-full-model-matrix.json
  .github/workflows/workflow-run-collect-data.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Correct job name
  .github/workflows/call-build-docs.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Jax Training infra
  python_package/jax_plugin_tt/monkeypatch.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/jax/single_chip/models/gpt2/base/test_gpt2_base.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

WIP
  python_package/jax_plugin_tt/monkeypatch.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/jax/single_chip/models/gpt2/base/test_gpt2_base.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

WIP
  python_package/jax_plugin_tt/monkeypatch.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

WIP
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

TEST
  python_package/jax_plugin_tt/monkeypatch.py
Owners: @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
