Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

Remove on push trigger in tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Revert "Trim to 20 passing models for testing"
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

nightly test updates
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
  .github/workflows/test.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

fix default runner
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/test-forge-models-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix some defaults
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add back push trigger
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Trim nightly
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

nightly yml fixes
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Don't rely on inputs
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

nightly fixes
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to b3b1beafee4282d12efdaff0dac4156fd0e16cd3 2025-08-20
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

add test for monodepth2 model (#818)
  tests/torch/single_chip/models/monodepth2/__init__.py
  tests/torch/single_chip/models/monodepth2/test_monodepth2.py
  tests/torch/single_chip/models/monodepth2/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

cl
  .github/Dockerfile.base
  docs/src/getting_started_build_from_source.md
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

update JAX tests for gpt2 and gpt_j
  tests/jax/single_chip/models/gpt2/base/test_gpt2_base.py
  tests/jax/single_chip/models/gpt2/large/test_gpt2_large.py
  tests/jax/single_chip/models/gpt2/medium/test_gpt2_medium.py
  tests/jax/single_chip/models/gpt2/tester.py
  tests/jax/single_chip/models/gpt2/xl/test_gpt2_xl.py
  tests/jax/single_chip/models/gpt_j/gpt_j_6b/test_gpt_j_6b.py
  tests/jax/single_chip/models/gpt_j/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to b3b1beafee4282d12efdaff0dac4156fd0e16cd3 2025-08-20 (#1044)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

update torch models to use ModelVariant
  tests/torch/single_chip/models/alexnet/test_alexnet.py
  tests/torch/single_chip/models/alexnet/tester.py
  tests/torch/single_chip/models/mobilenetv1/test_mobilenetv1.py
  tests/torch/single_chip/models/mobilenetv1/tester.py
  tests/torch/single_chip/models/mobilenetv2/test_mobilenetv2.py
  tests/torch/single_chip/models/mobilenetv2/tester.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Single custom binary test
  tests/torch/single_chip/operators/__init__.py
  tests/torch/single_chip/operators/binary/__init__.py
  tests/torch/single_chip/operators/binary/test_add.py
  tests/torch/single_chip/operators/binary/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

forge stubs
  src/forge/_C.py
  src/forge/__init__.py
  src/forge/compat.py
  src/forge/config.py
  src/forge/forge_property_utils.py
  src/forge/op/__init__.py
  src/forge/op_repo/__init__.py
  src/forge/op_repo/datatypes.py
  src/forge/op_repo/forge_operators.py
  src/forge/op_repo/pytorch_operators.py
  src/forge/tensor.py
  src/forge/verify/__init__.py
  src/forge/verify/compare.py
  src/forge/verify/config.py
  src/forge/verify/value_checkers.py
  src/forge/verify/verify.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Worked in local Docker
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Added both 3.10 and 3.11
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

update torch models to use ModelVariant (#1053)
  tests/torch/single_chip/models/alexnet/test_alexnet.py
  tests/torch/single_chip/models/alexnet/tester.py
  tests/torch/single_chip/models/mobilenetv1/test_mobilenetv1.py
  tests/torch/single_chip/models/mobilenetv1/tester.py
  tests/torch/single_chip/models/mobilenetv2/test_mobilenetv2.py
  tests/torch/single_chip/models/mobilenetv2/tester.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Resue wheel between builds Update call-build and call-test
  .github/workflows/build.yml
  .github/workflows/call-build.yml
  .github/workflows/call-test.yml
  .github/workflows/on-nightly.yml
  .github/workflows/on-pr.yml
  .github/workflows/on-push.yml
  .github/workflows/perf-bench-tt-forge.yml
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix typo
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

make 120 minute timeout configurable as input
  .github/workflows/on-nightly.yml
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add section to install system deps if running forge models tests
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Decrease PCC req in 4 models
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix errors
  .github/workflows/on-pr.yml
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Update run tests
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix pre-commit
  .github/workflows/call-build.yml
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

XFail the torch hrnet test because of BH PCC issues
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
  tests/torch/single_chip/models/hrnet/test_hrnet.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Debug folder ownership
  .github/workflows/call-build.yml
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix problems with workflow
  .github/workflows/on-pr.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

switch all card tests except llmbox to civ1
  .github/workflows/on-nightly.yml
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

switch to new civ2 runner naming convention
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

skip more lar models and run llmbox in civ2
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
