Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT

add readme with pre-commit fix
  README.md
Owners: @ajakovljevicTT, @mrakitaTT

add deepwiki badge (#1406)
  README.md
Owners: @ajakovljevicTT, @mrakitaTT

Remove more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove uneeded line, add wheel build CI WIP
  .github/workflows/call-build.yml
  .github/workflows/pr-main.yml
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

restore venv/activate
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Add test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add python_package and vllm_tt to PYTHONPATH only if != true
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Fixes
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Update licensing info
  NOTICE
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

Upgrade requirements
  python_package/requirements.txt
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

remove more changes. Remove device setting and freeze_support from test file
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/worker.py
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

remove more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

.
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix activate bug:
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

place back more removed code.
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

delete log file which was accidentally added
  integrations/vllm_plugin/out.log
Owners: @ajakovljevicTT, @mrakitaTT

Remove more changes
  integrations/vllm_plugin/vllm_tt/platform.py
Owners: @ajakovljevicTT, @mrakitaTT

Implement changes for TT
  integrations/vllm_plugin/out.log
  integrations/vllm_plugin/vllm_tt/__init__.py
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

Add back some paged attn metadata
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

more cleanup
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Upgrade transformers to be compatible with vllm
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT

Remove even more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Add vllm requirement, add vllm plugin to python path in dev environment
  venv/activate
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT

remove more uneeded changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

remove python_package from PYTHONPATH
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

WIP fixes to workflow file. Add vllm plugin test to job matrix
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

WIP CI for vllm plugin 3
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Remove more changes
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 4
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Fix python abi version isssue, and codecov inability
  .github/workflows/call-build.yml
  integrations/vllm_plugin/setup.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

WIP CI for vllm plugin 5
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Add python_requires to vllm_tt setup
  integrations/vllm_plugin/setup.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 2
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

WIP CI for vllm plugin
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Do not build vllm plugin wit codecov
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

WIP CI for vllm plugin 6
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Add support for parsing custom compiler options in PJRT backend compile
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add issue link for memory info support. Fix CI config
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

cleanup comment
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

Add vllm test job
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT
