Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

WIP: EmitC integration as a compiler option/a different backend
  examples/emitc_as_compileroption.py
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

lock python version for precommit job
  .github/workflows/pre-commit.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Remove invalid compile_config options
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

use tt-torch backend for torch tests
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add torch_xla basic tests
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/backend/backend.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove old multichip funcs
  tt_torch/backend/backend.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Instrument onBufferToHostBuffer to show src/dst sizes
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

next step tt device
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/convert_weights.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/generate_multi_chip.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/model.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/results/multi_chip.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pin python version for pre-commit CI job (#962)
  .github/workflows/pre-commit.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Try to buffer static cache tensors only
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Temporarily disable caching
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add tests from torch-xla repo to run on TT devices
  test_xla_sharding_base.py
  test_xla_sharding_tt.py
Owners: @ajakovljevicTT, @mrakitaTT

Update variant_name to ModelVariant instead of str
  tests/torch/single_chip/models/albert_v2/base/test_albert_base.py
  tests/torch/single_chip/models/albert_v2/large/test_albert_large.py
  tests/torch/single_chip/models/albert_v2/tester.py
  tests/torch/single_chip/models/albert_v2/xlarge/test_albert_xlarge.py
  tests/torch/single_chip/models/albert_v2/xxlarge/test_albert_xxlarge.py
  tests/torch/single_chip/models/densenet/test_densenet.py
  tests/torch/single_chip/models/densenet/tester.py
  tests/torch/single_chip/models/dla/test_dla.py
  tests/torch/single_chip/models/dla/tester.py
  tests/torch/single_chip/models/efficientnet/test_efficientnet.py
  tests/torch/single_chip/models/efficientnet/tester.py
  tests/torch/single_chip/models/ghostnet/test_ghostnet.py
  tests/torch/single_chip/models/ghostnet/tester.py
  tests/torch/single_chip/models/hrnet/test_hrnet.py
  tests/torch/single_chip/models/hrnet/tester.py
  tests/torch/single_chip/models/resnext/test_resnext.py
  tests/torch/single_chip/models/resnext/tester.py
  tests/torch/single_chip/models/vgg/test_vgg.py
  tests/torch/single_chip/models/vgg/tester.py
  tests/torch/single_chip/models/wide_resnet/test_wide_resnet.py
  tests/torch/single_chip/models/wide_resnet/tester.py
  tests/torch/single_chip/models/xception/test_xception.py
  tests/torch/single_chip/models/xception/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update torch tests to use ModelVariant as variant_name Set 1
  tests/torch/single_chip/models/albert_v2/base/test_albert_base.py
  tests/torch/single_chip/models/albert_v2/large/test_albert_large.py
  tests/torch/single_chip/models/albert_v2/tester.py
  tests/torch/single_chip/models/albert_v2/xlarge/test_albert_xlarge.py
  tests/torch/single_chip/models/albert_v2/xxlarge/test_albert_xxlarge.py
  tests/torch/single_chip/models/bert/base/__init__.py
  tests/torch/single_chip/models/bert/large/__init__.py
  tests/torch/single_chip/models/bert/large/test_bert_large.py
  tests/torch/single_chip/models/bert/test_bert_base.py
  tests/torch/single_chip/models/bert/tester.py
  tests/torch/single_chip/models/clip/test_clip.py
  tests/torch/single_chip/models/clip/tester.py
  tests/torch/single_chip/models/codegen/test_codegen.py
  tests/torch/single_chip/models/codegen/tester.py
  tests/torch/single_chip/models/deit/test_deit.py
  tests/torch/single_chip/models/deit/tester.py
  tests/torch/single_chip/models/detr/test_detr.py
  tests/torch/single_chip/models/detr/tester.py
  tests/torch/single_chip/models/distilbert/test_distilbert.py
  tests/torch/single_chip/models/distilbert/tester.py
  tests/torch/single_chip/models/dpr/test_dpr.py
  tests/torch/single_chip/models/dpr/tester.py
  tests/torch/single_chip/models/falcon/test_falcon.py
  tests/torch/single_chip/models/falcon/tester.py
  tests/torch/single_chip/models/roberta/test_roberta.py
  tests/torch/single_chip/models/roberta/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to d59983fcf90f50448e5698af7febfdb9fe65d7c4 2025-08-12
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update torch tests to use ModelVariant as variant_name Set 2
  tests/torch/single_chip/models/flan_t5/test_flan_t5.py
  tests/torch/single_chip/models/flan_t5/tester.py
  tests/torch/single_chip/models/mamba/test_mamba.py
  tests/torch/single_chip/models/mamba/tester.py
  tests/torch/single_chip/models/mlp_mixer/test_mlp_mixer.py
  tests/torch/single_chip/models/mlp_mixer/tester.py
  tests/torch/single_chip/models/qwen_2_5/test_qwen_2_5.py
  tests/torch/single_chip/models/qwen_2_5/tester.py
  tests/torch/single_chip/models/regnet/test_regnet.py
  tests/torch/single_chip/models/regnet/tester.py
  tests/torch/single_chip/models/segformer/test_segformer.py
  tests/torch/single_chip/models/segformer/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to d59983fcf90f50448e5698af7febfdb9fe65d7c4 2025-08-12 (#966)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update torch tests to use ModelVariant as variant_name Set 3
  tests/torch/single_chip/models/squeezebert/test_squeezebert.py
  tests/torch/single_chip/models/squeezebert/tester.py
  tests/torch/single_chip/models/t5/test_t5.py
  tests/torch/single_chip/models/t5/tester.py
  tests/torch/single_chip/models/vilt/test_vilt.py
  tests/torch/single_chip/models/vilt/tester.py
  tests/torch/single_chip/models/vit/test_vit.py
  tests/torch/single_chip/models/vit/tester.py
  tests/torch/single_chip/models/vovnet/test_vovnet.py
  tests/torch/single_chip/models/vovnet/tester.py
  tests/torch/single_chip/models/xglm/test_xglm.py
  tests/torch/single_chip/models/xglm/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add torch tests for autoencoder linear
  tests/torch/single_chip/models/autoencoder_linear/__init__.py
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
  tests/torch/single_chip/models/autoencoder_linear/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update Xfailed torch tests to use ModelVariant as variant_name Set 1 (#965)
  tests/torch/single_chip/models/albert_v2/base/test_albert_base.py
  tests/torch/single_chip/models/albert_v2/large/test_albert_large.py
  tests/torch/single_chip/models/albert_v2/tester.py
  tests/torch/single_chip/models/albert_v2/xlarge/test_albert_xlarge.py
  tests/torch/single_chip/models/albert_v2/xxlarge/test_albert_xxlarge.py
  tests/torch/single_chip/models/bert/base/__init__.py
  tests/torch/single_chip/models/bert/large/__init__.py
  tests/torch/single_chip/models/bert/large/test_bert_large.py
  tests/torch/single_chip/models/bert/test_bert_base.py
  tests/torch/single_chip/models/bert/tester.py
  tests/torch/single_chip/models/clip/test_clip.py
  tests/torch/single_chip/models/clip/tester.py
  tests/torch/single_chip/models/codegen/test_codegen.py
  tests/torch/single_chip/models/codegen/tester.py
  tests/torch/single_chip/models/deit/test_deit.py
  tests/torch/single_chip/models/deit/tester.py
  tests/torch/single_chip/models/detr/test_detr.py
  tests/torch/single_chip/models/detr/tester.py
  tests/torch/single_chip/models/distilbert/test_distilbert.py
  tests/torch/single_chip/models/distilbert/tester.py
  tests/torch/single_chip/models/dpr/test_dpr.py
  tests/torch/single_chip/models/dpr/tester.py
  tests/torch/single_chip/models/falcon/test_falcon.py
  tests/torch/single_chip/models/falcon/tester.py
  tests/torch/single_chip/models/roberta/test_roberta.py
  tests/torch/single_chip/models/roberta/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update torch tests to use ModelVariant as variant_name Set 2 (#968)
  tests/torch/single_chip/models/flan_t5/test_flan_t5.py
  tests/torch/single_chip/models/flan_t5/tester.py
  tests/torch/single_chip/models/mamba/test_mamba.py
  tests/torch/single_chip/models/mamba/tester.py
  tests/torch/single_chip/models/mlp_mixer/test_mlp_mixer.py
  tests/torch/single_chip/models/mlp_mixer/tester.py
  tests/torch/single_chip/models/qwen_2_5/test_qwen_2_5.py
  tests/torch/single_chip/models/qwen_2_5/tester.py
  tests/torch/single_chip/models/regnet/test_regnet.py
  tests/torch/single_chip/models/regnet/tester.py
  tests/torch/single_chip/models/segformer/test_segformer.py
  tests/torch/single_chip/models/segformer/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Restructure loaders to support multiple model sources (#65)
  dla/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Update torch tests to use ModelVariant as variant_name Set 3 (#969)
  tests/torch/single_chip/models/squeezebert/test_squeezebert.py
  tests/torch/single_chip/models/squeezebert/tester.py
  tests/torch/single_chip/models/t5/test_t5.py
  tests/torch/single_chip/models/t5/tester.py
  tests/torch/single_chip/models/vilt/test_vilt.py
  tests/torch/single_chip/models/vilt/tester.py
  tests/torch/single_chip/models/vit/test_vit.py
  tests/torch/single_chip/models/vit/tester.py
  tests/torch/single_chip/models/vovnet/test_vovnet.py
  tests/torch/single_chip/models/vovnet/tester.py
  tests/torch/single_chip/models/xglm/test_xglm.py
  tests/torch/single_chip/models/xglm/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Bringup ffe pytorch models (#58)
  deepseek/deepseek_coder/__init__.py
  deepseek/deepseek_coder/pytorch/__init__.py
  deepseek/deepseek_coder/pytorch/loader.py
  deepseek/deepseek_math/__init__.py
  deepseek/deepseek_math/pytorch/__init__.py
  deepseek/deepseek_math/pytorch/loader.py
  gpt2/__init__.py
  gpt2/pytorch/__init__.py
  gpt2/pytorch/loader.py
  hippynn/__init__.py
  hippynn/pytorch/__init__.py
  hippynn/pytorch/loader.py
  llama/causal_lm/pytorch/loader.py
  llava/__init__.py
  llava/pytorch/__init__.py
  llava/pytorch/loader.py
  tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix based on PR comments
  tests/infra/comparators/comparator.py
  tests/infra/connectors/device_connector.py
  tests/infra/runners/device_runner.py
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/base_tester.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/jax/single_chip/models/gpt2-easydel/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Accidentally committed the file.
  tests/jax/single_chip/models/gpt2-easydel/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Multichip fix
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Returned _initialize_all_components at model_tester and multichip_model_tester because of correct order of the init
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pre-commit
  tests/infra/testers/single_chip/model/model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Method rename
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add support for parsing custom compiler options in PJRT backend compile
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update variant_name to ModelVariant instead of str (#964)
  tests/torch/single_chip/models/albert_v2/base/test_albert_base.py
  tests/torch/single_chip/models/densenet/test_densenet.py
  tests/torch/single_chip/models/densenet/tester.py
  tests/torch/single_chip/models/dla/test_dla.py
  tests/torch/single_chip/models/dla/tester.py
  tests/torch/single_chip/models/efficientnet/test_efficientnet.py
  tests/torch/single_chip/models/efficientnet/tester.py
  tests/torch/single_chip/models/ghostnet/test_ghostnet.py
  tests/torch/single_chip/models/ghostnet/tester.py
  tests/torch/single_chip/models/hrnet/test_hrnet.py
  tests/torch/single_chip/models/hrnet/tester.py
  tests/torch/single_chip/models/resnext/test_resnext.py
  tests/torch/single_chip/models/resnext/tester.py
  tests/torch/single_chip/models/vgg/test_vgg.py
  tests/torch/single_chip/models/vgg/tester.py
  tests/torch/single_chip/models/wide_resnet/test_wide_resnet.py
  tests/torch/single_chip/models/wide_resnet/tester.py
  tests/torch/single_chip/models/xception/test_xception.py
  tests/torch/single_chip/models/xception/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 52da78fe5be30e1dfe15885848e3b9097ab86557 2025-08-12
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

ADd tensor dims logging in cache debug
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add logging for creation fo owned vs borrowed host tensor
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add LASTDIM_SIDECHANNEL
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

hacked move m_runtime_device to client_instance
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Instrument onBufferToHostBuffer to show src/dst sizes
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
