Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

Remove on push trigger in tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add back push trigger
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix some defaults
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Trim to 20 passing models for testing
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add 308 passing tests to .test_durations
  .test_durations
Owners: @ajakovljevicTT, @mrakitaTT

Initial changes to get test_models.py working in tt-xla
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add test-forge-models-matrix.json and use in nightly
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
  tests/runner/test_models.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

nightly yml fixes
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Hack to run on branch
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Initial CI ymls ported from tt-torch
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix tt-forge-models wrapper job
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

fix default runner
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/test-forge-models-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Don't rely on inputs
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Trim nightly
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

some updates
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Update TorchModelTester _get_forward_method_args() for list/tuple inputs
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Try on p150
  .github/workflows/test-forge-models-matrix.json
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

run_mode cleanup call "inference" instead of "eval"
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

debug prints around pip packages in RequirementsManager
  .github/workflows/run-tt-forge-models-tests.yml
  tests/runner/requirements.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

nightly test updates
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
  .github/workflows/test.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

nightly fixes
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Rename to common "bringup_status" and "reason" fields shared between NOT_SUPPORTED_SKIP and KNOWN_FAILURE_XFAIL
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add section to install system deps if running forge models tests
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Decrease PCC req in 4 models
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

test_config.py updates for few fails
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Make verbosity dependent on --forked
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add durations flag
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

fix ARCH
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

10 job option
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Hack to run grp of 10 tests forked
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

some cleanup
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix issue with --forked and use BringupStatus.UNKNOWN by default if not specified
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Revert "Trim to 20 passing models for testing"
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add back n150 tests
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

compiler_config in DynamicTester cleanup
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

rename full-eval to full-inference
  .test_durations
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

make 120 minute timeout configurable as input
  .github/workflows/on-nightly.yml
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Initial changes to simplify/improve xml reporting from test_models.py
  tests/conftest.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

switch to enum usage for bringup_status in test_config.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Disabline not-expected-passing job
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT
