Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

trigger the rebuild
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

try fix permissions
  .github/workflows/build-image.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to b03d526f953d654ef167faf534a20fd2b357ba76 2025-08-22 (#1075)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update forge stubs
  src/forge/_C.py
  src/forge/_C/__init__.py
  src/forge/_C/verif.py
  src/forge/compat.py
  src/forge/forge_property_utils.py
  src/forge/verify/config.py
  src/forge/verify/verify.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

[build] wheel restructuring to handle both frameworks
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  docs/src/getting_started_build_from_source.md
  examples/jax/simple_regression.py
  examples/pytorch/alexnet.py
  examples/pytorch/mnist.py
  python_package/MANIFEST.in
  python_package/cleanup.sh
  python_package/jax_plugin_tt/__init__.py
  python_package/jax_plugin_tt/monkeypatch.py
  python_package/pjrt_plugin_tt/__init__.py
  python_package/setup.py
  python_package/torch_plugin_tt/__init__.py
  src/tt/CMakeLists.txt
  tests/infra/connectors/device_connector.py
  tests/infra/connectors/jax_device_connector.py
  tests/infra/connectors/torch_device_connector.py
  third_party/CMakeLists.txt
  venv/activate
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

addressing comments...
  docs/src/getting_started_build_from_source.md
  examples/jax/simple_regression.py
  examples/pytorch/alexnet.py
  examples/pytorch/mnist.py
  python_package/jax_plugin_tt/__init__.py
  python_package/jax_plugin_tt/monkeypatch.py
  python_package/setup.py
  tests/conftest.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

fix merge conflicts
  python_package/__init__.py
  tests/conftest.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

prefix _ + move
  python_package/jax_plugin_tt/__init__.py
  python_package/jax_plugin_tt/monkeypatch.py
  tests/conftest.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

test training with lorax,quax
  tests/jax/single_chip/models/llama3.2-1b/gpt2_lora_tinystories.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

sth
  tests/jax/single_chip/models/llama3.2-1b/gpt2_lora_tinystories.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

added lorax
  tests/jax/single_chip/models/llama3.2-1b/gpt2_lora_tinystories.py
  tests/jax/single_chip/models/llama3.2-1b/lorax/constants.py
  tests/jax/single_chip/models/llama3.2-1b/lorax/helpers.py
  tests/jax/single_chip/models/llama3.2-1b/lorax/transform.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

added lorax
  tests/jax/single_chip/models/llama3.2-1b/gpt2_lora_tinystories.py
  tests/jax/single_chip/models/llama3.2-1b/lorax/constants.py
  tests/jax/single_chip/models/llama3.2-1b/lorax/helpers.py
  tests/jax/single_chip/models/llama3.2-1b/lorax/transform.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix issue with --forked and use BringupStatus.UNKNOWN by default if not specified
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

[build] wheel restructuring to handle both frameworks (#1008)
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  docs/src/getting_started_build_from_source.md
  examples/jax/simple_regression.py
  examples/pytorch/alexnet.py
  examples/pytorch/mnist.py
  python_package/MANIFEST.in
  python_package/__init__.py
  python_package/cleanup.sh
  python_package/jax_plugin_tt/__init__.py
  python_package/jax_plugin_tt/monkeypatch.py
  python_package/pjrt_plugin_tt/__init__.py
  python_package/setup.py
  python_package/torch_plugin_tt/__init__.py
  src/tt/CMakeLists.txt
  tests/conftest.py
  tests/infra/connectors/device_connector.py
  tests/infra/connectors/jax_device_connector.py
  tests/infra/connectors/torch_device_connector.py
  third_party/CMakeLists.txt
  venv/activate
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Upgrade python to 3.11 and jax to 0.7.0
  python_package/setup.py
  requirements.txt
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Fixes based on comments
  tests/infra/runners/utils.py
  tests/infra/testers/single_chip/graph/graph_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pre-commit
  tests/infra/testers/single_chip/op/op_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

switch to enum usage for bringup_status in test_config.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fixed init
  tests/infra/__init__.py
  tests/infra/workloads/__init__.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

pre-commit
  tests/infra/__init__.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Rename to common "bringup_status" and "reason" fields shared between NOT_SUPPORTED_SKIP and KNOWN_FAILURE_XFAIL
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

rebase
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

pre-commit
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add compiler config to all other testers, and propagate compile_options using compiler_config.
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/jax/single_chip/ops/test_log.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix _get_model_info missing classmethod attribute in nanogpt (#110)
  nanogpt/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Add torch_xla basic tests
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove invalid compile_config options
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove old multichip funcs
  tt_torch/backend/backend.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix bug that would cause CPU run to execute on device accidentally
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

use tt-torch backend for torch tests
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pipe through compile config
  tests/infra/runners/device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/backend/backend.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Add pytest fixture to reset seed and torch dynamo state between tests
  tests/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add comments/docstrings as per Nikola's request
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

fix pre-commit:
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

comment out _extend_context_manager to test CI
  tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove unused functions
  tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove erf and gelu decomps
  tests/conftest.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tests/torch/single_chip/test_torch_xla_basic.py
  tt_torch/backend/decompositions.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 20e10bda from Aug16
  pytest.ini
  requirements.txt
  tests/runner/conftest.py
  tests/runner/requirements.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
