Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

add dep
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

format
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

added the hf token
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to d091067b293cde86466b371963e404a3fa567bda 2025-08-15 (#1014)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

WIP: EmitC integration as a compiler option/a different backend
  examples/emitc_as_compileroption.py
  src/common/compile_options.cc
  src/common/compile_options.h
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

minor tweak to where the code is generated
  examples/emitc_as_compileroption.py
  src/common/module_builder.cc
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Add secrets/variables to avoid failures in the nightly (#1015)
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add pytest fixture to reset seed and torch dynamo state between tests
  tests/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove erf and gelu decomps
  tests/conftest.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tests/torch/single_chip/test_torch_xla_basic.py
  tt_torch/backend/decompositions.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add torch_xla basic tests
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove old multichip funcs
  tt_torch/backend/backend.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix bug that would cause CPU run to execute on device accidentally
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pipe through compile config
  tests/infra/runners/device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove invalid compile_config options
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/backend/backend.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

use tt-torch backend for torch tests
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

input dumping WIP
  inc/common/pjrt_implementation/executable_image.h
  src/common/compile_options.h
  src/common/module_builder.cc
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Initial changes for test_models.py working in tt-xla
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 97e2e0f0 plus some touchups (skip large models)
  pytest.ini
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Add some missing deps to requirements.txt to get same models discovered/run as tt-torch
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

update DynamicTester for CompilerConfig
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pin transformers to avoid model NYI vmap error in models #1020
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Claude probably fucked something up here
  src/common/CMakeLists.txt
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add comments/docstrings as per Nikola's request
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

TT-mlir and tt-metal change for main update
  requirements.txt
  tests/torch_xla/test_training.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

fix pre-commit:
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Claude's partial progress, to be checked and fixed
  src/common/CMakeLists.txt
  src/common/module_builder.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

comment out _extend_context_manager to test CI
  tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT

Dockerfile fixes
  .github/Dockerfile.cibuildwheel
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Open device once for multiple runs, enable optimizer
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/module_builder.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Close device based on env var bridge IS_PREFILL
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

hacked move m_runtime_device to client_instance
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add logging around device open/close
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add LASTDIM_SIDECHANNEL
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

ADd tensor dims logging in cache debug
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add lifetime of loaded executable instance prints, buffer map caching logs
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Cherry pick buffer map changes from 4e9144fd4f437f16f669a9fe9b82bd72a9b4ee25
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add logging for creation fo owned vs borrowed host tensor
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

minor fixes, move some buffer functions to public
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT
