Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT

Log BufferInstance lifetime experiments
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

point tt-mlir to rebased test branch 4e7b914c0
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Fix rebase issue
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Cache test branch in mlir to reapply shardings
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Reapply input shardings on static cache tensors per iteration
  examples/pytorch/llama.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add another flag
  python_package/torch_plugin_tt/__init__.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

add test_matmul_sweeps.py
  tests/torch/single_chip/sweeps/test_matmul_sweeps.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

temp
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/backend/decompositions.py
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/torch/single_chip/test_mixtral_moe.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Apply rewrite graph for torch graph
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/backend/decompositions.py
  python_package/tt_torch/backend/graph_patterns.py
  python_package/tt_torch/backend/passes.py
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/torch/single_chip/test_mixtral_moe.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Change capfd -> capteesys
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

[pjrt] reuse device if possible
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Put tracing for tensor contents and data ptr alteration
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Revert "Uplift third_party/tt-mlir to 43a1024947c15ed428c0ef969dcfa087dff86a03 2025-09-22 (#1431)"
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Revert "Uplift third_party/tt-mlir to 57f4afd4a32f55150739546a9d6a3ff5cb0cc0d8 2025-09-20 (#1430)"
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Revert "Uplift third_party/tt-mlir to 0fda4af6c6221214121f8390e9544d8dad9490ab 2025-09-19 (#1424)"
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Mark gemma/pytorch-google/gemma-2-2b-it-full-inference as EXPECTED_PASSING
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

vit_h_14 too
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Mark gemma-2-2b and vit_h_14 as push for easy CI testing
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Mark gemma/pytorch-google/gemma-2-2b-it-full-inference as EXPECTED_PASSING
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

vit_h_14 too
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

fixed?
  tests/torch/single_chip/sweeps/test_matmul_sweeps.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

return torch_xla.sync, export_for_training
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Promote a couple passing models (gemma2-2b, vit_h_14) no longer hitting L1 or DRAM OOM (#1438)
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add override_is_float guard to dtype_overide for phi3/causal_lm load_inputs like other models (#157)
  phi3/causal_lm/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

handling new DynamicCache and EncoderDecoderCache class from transformers
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Uplift third_party/tt-mlir to b89d0e09d9b8bcff2421a361929c08bbfd994eb7 2025-09-23
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to b89d0e09d9b8bcff2421a361929c08bbfd994eb7 2025-09-23 (#1439)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add support MapTR bevpool variant in pytorch (#158)
  maptr/pytorch/loader.py
  maptr/pytorch/src/maptr.py
Owners: @ajakovljevicTT, @mrakitaTT

Refactor buildModule
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Change capfd -> capteesys (#1404)
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Fix blackhole
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Added issue link
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

More stuff
  examples/jax/simple_regression.py
  examples/pytorch/alexnet.py
  examples/pytorch/mnist.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  python_package/tt_torch/backend/decompositions.py
  python_package/tt_torch/backend/passes.py
  tests/jax/multi_chip/bounties/falcon3_7b/model/model_falcon3.py
  tests/jax/single_chip/models/model_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Added correct pcc
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Updated stuff
  .pre-commit-config.yaml
Owners: @ajakovljevicTT, @mrakitaTT

Added bad pcc on blackhole
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Move code for memory kinds
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added option to load shard specs from model loader
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/utilities/__init__.py
  tests/infra/utilities/types.py
  tests/infra/workloads/workload.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add env var options to only capture red models, and to not skip/xfail tests
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Revert a partial rewrite that was leftover
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT
