Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT

addressing comments pt3
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

pass device to optimizer
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

addressing comments pt2
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

[pjrt] reuse device if possible
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

addressing comments pt1
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/data_type_utils.h
  inc/common/pjrt_implementation/utils.h
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

lowering PCC on the failing test
  tests/jax/single_chip/models/roformer/chinese_base/test_roformer_chinese_base.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

addressing comments pt4
  inc/common/pjrt_implementation/utils.h
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

addressing comments pt5
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/jax/single_chip/models/roformer/chinese_base/test_roformer_chinese_base.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

[pjrt] reuse device if possible (#1417)
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/data_type_utils.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  inc/common/pjrt_implementation/utils.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/jax/single_chip/models/roformer/chinese_base/test_roformer_chinese_base.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Remove batchnorm decomposition (#1470)
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

vkovinic - fx info parsing
  problem_info.md
  python_package/tt_torch/backend/backend.py
  tests/torch/single_chip/locs.py
  tests/torch/single_chip/test_nested_model.py
  tests/torch/single_chip/test_torch_xla_basic.py
  torch-xla_build.md
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add perf compile options
  examples/pytorch/compiler_options.py
  inc/common/pjrt_implementation/module_builder/compile_options.h
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/infra/testers/compiler_config.py
  tests/torch/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/torch/single_chip/models/mnist/cnn/tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add vllm requirement, add vllm plugin to python path in dev environment
  venv/activate
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT

Implement changes for TT
  integrations/vllm_plugin/out.log
  integrations/vllm_plugin/vllm_tt/__init__.py
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

Upgrade transformers to be compatible with vllm
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT

delete log file which was accidentally added
  integrations/vllm_plugin/out.log
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 6
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

remove more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP fixes to workflow file. Add vllm plugin test to job matrix
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

WIP CI for vllm plugin 2
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

cleanup comment
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 3
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

remove more changes. Remove device setting and freeze_support from test file
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/worker.py
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

WIP CI for vllm plugin 4
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Only gen 16 tokens in test
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP CI for vllm plugin
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Upgrade requirements
  python_package/requirements.txt
  venv/requirements-dev.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Remove more changes
  integrations/vllm_plugin/vllm_tt/platform.py
Owners: @ajakovljevicTT, @mrakitaTT

Add python_package and vllm_tt to PYTHONPATH only if != true
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Update licensing info
  NOTICE
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  integrations/vllm_plugin/vllm_tt/worker.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 5
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Fix python abi version isssue, and codecov inability
  .github/workflows/call-build.yml
  integrations/vllm_plugin/setup.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

more cleanup
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Add test to basic-test.json
  .github/workflows/call-test.yml
  .github/workflows/test-matrix-presets/basic-test.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Remove even more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

remove python_package from PYTHONPATH
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

remove more uneeded changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

place back more removed code.
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Fixes
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/platform.py
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Add push mark to opt generation test
  .github/workflows/test-matrix-presets/basic-test.json
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT
