Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

Add logging for input/output bufferinstance creation
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

temp
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/backend/decompositions.py
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/torch/single_chip/test_mixtral_moe.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add logging for input/output bufferinstance creation
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Apply rewrite graph for torch graph
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/backend/decompositions.py
  python_package/tt_torch/backend/graph_patterns.py
  python_package/tt_torch/backend/passes.py
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/torch/single_chip/test_mixtral_moe.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

For compatibility to torch 2.7.0
  python_package/tt_torch/backend/graph_patterns.py
  python_package/tt_torch/backend/passes.py
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/torch/single_chip/test_mixtral_moe.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

mark xpass as failed
  pytest.ini
Owners: @ajakovljevicTT, @mrakitaTT

Add shape string impl + GUID for bufferInstance incrementaed at ctor
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

include pytest.ini to avoid warnings
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add decomposition for clamp cosnt inputs
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

remove pytest.ini from call-test
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add composite patching for jax.random.uniform (#1502)
  python_package/jax_plugin_tt/monkeypatch.py
  tests/jax/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Hack to force TENSOR_PARALLEL in report to see if it works
  .github/workflows/test-matrix-presets/model-test-push.json
  tests/runner/test_utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT

Add bge-m3 custom encode test (#1512)
  tests/torch/single_chip/models/bge_m3/test_bge_m3_custom_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

UNIAD Fix for tt-xla TorchRuntimeError (#173)
  uniad/pytorch/src/planning_head.py
  uniad/pytorch/src/uniad_e2e.py
  uniad/pytorch/src/uniad_track.py
Owners: @ajakovljevicTT, @mrakitaTT

test working
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  integrations/vllm_plugin/vllm_tt/worker.py
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/custom_ops.py
  tests/integrations/vllm_plugin/test_opt_generation.py
  third_party/CMakeLists.txt
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Trim nightly just n300-llmbox tests for experiment
  .github/workflows/schedule-nightly.yml
  .github/workflows/test-matrix-presets/model-test-passing.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Push trigger nightly
  .github/workflows/schedule-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

use rebased mlir
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

More tests to nightly
  .github/workflows/test-matrix-presets/model-test-passing.json
  .github/workflows/test-matrix-presets/model-test-push.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Set parallelism based on arch being run on as quick workaround
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add prints for buffer shape on alloc/dealloc
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add non-working test example
  examples/pytorch/test_multiloop.py
Owners: @ajakovljevicTT, @mrakitaTT

Replace parallelism hack with explicit setting via test_config.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Set parallelism based on arch being run on as quick workaround for superset reporting, improve in follow up PR
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Added option to load shard specs from model loader
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/utilities/__init__.py
  tests/infra/utilities/types.py
  tests/infra/workloads/workload.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Uplift + SPMD Cleanup + CI/Infra changes for supported_archs, n300-llmbox, json updates etc
  .github/workflows/test-matrix-presets/model-test-passing.json
  .github/workflows/test-matrix-presets/model-test-push.json
  .github/workflows/test-matrix-presets/model-test-xfail.json
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/workloads/workload.py
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT, @sdjukicTT, @sgligorijevicTT

tentative naive cache
  build.log
  examples/pytorch/test_tensor_persistence.py
  inc/common/pjrt_implementation/client_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  test.filt.log
  test.log
  upload.sh
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Disable PCC decrease and mark test as push to look at falcon/pytorch-tiiuae/Falcon3-7B-Base-full-inference
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Set parallelism based on arch being run on as quick workaround for superset reporting, improve in follow up PR
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Tensor parallel multi-chip support for model loader/tester w/ initial tests (gemma, falcon) for n300-llmbox in CI (#1429)
  .github/workflows/test-matrix-presets/model-test-passing.json
  .github/workflows/test-matrix-presets/model-test-push.json
  .github/workflows/test-matrix-presets/model-test-xfail.json
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/utilities/__init__.py
  tests/infra/utilities/types.py
  tests/infra/workloads/workload.py
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT

Point tt-mlir to jzx/llama tp base with Predrag hasLayout change; align llama multi test with single llama test; remove force input deallocator in loadedExecutableInstance
  examples/pytorch/llama.py
  examples/pytorch/single_llama.py
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Sparse checkout in the call-test workflow (#1500)
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

implement seperate LM Head
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3_tp.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_multi.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

enable kv cache
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

remove dependency on gemma
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

fix sliding window issue
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add custom generate function
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

reimplement gemma3
  tests/jax/multi_chip/bounties/gemma3/example.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/__init__.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/generation_utils.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

init gemma3 tp
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3_tp.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_multi.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

init gemma3 27b single device
  tests/jax/multi_chip/bounties/gemma3/README.md
  tests/jax/multi_chip/bounties/gemma3/__init__.py
  tests/jax/multi_chip/bounties/gemma3/example.py
  tests/jax/multi_chip/bounties/gemma3/jax_config.py
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic
