Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

.
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

more cleanup
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Add python_package and vllm_tt to PYTHONPATH only if != true
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Remove more changes
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 3
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix activate bug:
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

WIP CI for vllm plugin 2
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Iterate over tt ops to allow in dynamo graph instead of registering individually
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

use ttnn both prefill/decode sdpa
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

changes required to support SDPA prefil lop
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  tests/integrations/vllm_plugin/test_opt_generation.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix comment describing shape of qkv
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

Stop printing inputids
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

Add gqa comment
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Fix allow_in_graph logic
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Iterate over tt ops to allow in dynamo graph instead of registering individually
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Add comment describing why we create a specific attention mask if is_causal is true
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

WIP bringup sdpa and sdpa_decode op with unit tests
  python_package/tt_torch/custom_ops.py
  tests/infra/runners/torch_device_runner.py
  tests/torch/single_chip/ops/test_custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Use public torch method to allow custom ops in graph
  python_package/tt_torch/custom_ops.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

apply cursor suggestions
  python_package/tt_torch/custom_ops.py
  tests/infra/runners/torch_device_runner.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

added some stuff to the stable diffusion submodule test but not tested.
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

hooks for callback
  src/common/CMakeLists.txt
  src/common/pjrt_implementation/client_instance.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add infra to enable trace, add resnet50 trace test
  inc/common/pjrt_implementation/module_builder/compile_options.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/infra/testers/compiler_config.py
  tests/jax/single_chip/models/resnet_v1_5/resnet_50/test_resnet_50.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix 'TypeError: argument of type 'NoneType' is not iterable' when running test_models.py without optional --arch
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  python_package/tt_torch/backend/backend.py
  tests/runner/test_utils.py
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Pre-commit, deprecation for tt-torch, fix doc link. (#1540)
  README.md
Owners: @ajakovljevicTT, @mrakitaTT

Optional TT_XLA_RED_ONLY=1 to filter collected tests by ModelGroup.RED
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add 2x phi4 models that pass for BH from experimental nightly
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix test_models.py requiring --arch, add 2x phi4 models from experimental nightly, add red-models env-var filter (#1559)
  tests/runner/test_config/test_config_inference.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix typecast removal logic. It was broken since shape_prop was removed
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/backend/passes.py
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Refactored into single function
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/backend/passes.py
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add graph linter.
  python_package/tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Set mesh attr to shlo graph in spmd mode
  inc/common/pjrt_implementation/module_builder/compile_options.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/infra/testers/compiler_config.py
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Update test config with bevformer and bevdepth models
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix typecast removal logic. It was broken since shape_prop was removed (#1536)
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/backend/passes.py
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Uplift third_party/tt-mlir to 41750f3fedb5a3883a9f6f6acbf39834077d4e80 2025-10-03
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update test config with bevformer and bevdepth models (#1498)
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift third_party/tt-mlir to 41750f3fedb5a3883a9f6f6acbf39834077d4e80 2025-10-03 (#1561)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

comments
  inc/common/pjrt_implementation/buffer_instance.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

add assert & clean up
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

change to std::optional<>
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic
