Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT
pytest.ini @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT
.test_durations @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic

# Third Party
/third_party/ @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

:Added serialization
  examples/jax/serialization_example.py
  python_package/torch_plugin_tt/__init__.py
  python_package/tt_jax/serialization.py
  python_package/tt_torch/serialization.py
  tests/conftest.py
  tests/infra/__init__.py
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/device_runner.py
  tests/infra/testers/__init__.py
  tests/infra/testers/base_tester.py
  tests/infra/testers/multichip/__init__.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/__init__.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
  tests/jax/multi_chip/n300/ops/tensor_parallel/test_negative_op.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/jax/single_chip/ops/test_add.py
  tests/runner/test_models.py
  tests/torch/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @ndrakulicTT

Fix
  python_package/torch_plugin_tt/__init__.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Fix deletion
  python_package/tt_torch/serialization.py
  tests/runner/test_models.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @ndrakulicTT

Fixes
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Addressed comments
  python_package/torch_plugin_tt/__init__.py
  tests/infra/connectors/torch_device_connector.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @ndrakulicTT

Quick fix
  tests/infra/connectors/torch_device_connector.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Don't run tests if build fails
  .github/workflows/manual-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Build tt-explorer from tt-xla
  CMakeLists.txt
  third_party/CMakeLists.txt
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Don't set metal home if already set
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

fix code cov after clang env var typo fix, use same solution as nsumrak used in ttmlir
  .github/gcov_for_clang.sh
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add docs for explorer
  docs/src/SUMMARY.md
  docs/src/tt_explorer.md
Owners: @ajakovljevicTT, @mrakitaTT

Turn on runtime debug if explorer enabled
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

fix pre-commit
  .github/gcov_for_clang.sh
  docs/src/tt_explorer.md
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

move gcov where sparse checkout can find it
  .github/scripts/gcov_for_clang.sh
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

added initial stab diff test.
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

added some stuff to the stable diffusion submodule test but not tested.
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

initial commit for testing submodules for stable diffusion.
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Transformer submodule test complete, need to test and debug now.
  sd.log
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

adding tst for sd 1.4 to test unet since transformer of sd3.5 has OOM issue.
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_unet.py
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_unet_v2.py
  tests/torch/single_chip/models/stable_diffusion/test_sd3_5_tf.py
  tests/torch/single_chip/models/stable_diffusion/test_sd3_5_tf_v2.py
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Modified gitignore to ignore log files. Adjusted tt-mlir version to my runtime dram monitoring version. added test_sd.py for reference. NEED TO BE REMOVED LATER.
  .gitignore
  tests/torch/single_chip/models/stable_diffusion/test_sd.py
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_unet.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

testing auto_to_device. Had an odd merge for backend.py.
  python_package/tt_torch/backend/backend.py
  sd.log
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_pipe.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @ndrakulicTT

made a pipe test for sd1.4 that runs and generates image. Added block by block unet test and a VAE for sd1.4 test. Removed some redundant files.
  tests/torch/single_chip/models/stable_diffusion/test_sd.py
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_pipe.py
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_unet.py
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_unet_block_by_block.py
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_unet_v2.py
  tests/torch/single_chip/models/stable_diffusion/test_sd1_4_vae.py
  tests/torch/single_chip/models/stable_diffusion/test_sd3_5_tf_v2.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Use default attention mask for single input per batch inference. (#1785)
  integrations/vllm_plugin/vllm_tt/pooling_runner.py
Owners: @ajakovljevicTT, @mrakitaTT

sort for re-run of missed tests
  tests/runner/test_config/test_config_inference_data_parallel.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add element-wise scatter tests
  tests/jax/single_chip/ops/test_scatter.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Update attention layer to handle batched inputs.
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

Add customer_model_maps.py helper script for converting model name in XLS to nest and model_name
  customer_model_maps.py
Owners: @ajakovljevicTT, @mrakitaTT

sort test config based on CI run
  tests/runner/test_config/test_config_inference_data_parallel.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

name change
  integrations/vllm_plugin/vllm_tt/attention.py
Owners: @ajakovljevicTT, @mrakitaTT

Make tt-explorer available from tt-xla (#1600)
  .github/scripts/gcov_for_clang.sh
  .github/workflows/call-test.yml
  .github/workflows/manual-test.yml
  CMakeLists.txt
  docs/src/SUMMARY.md
  docs/src/tt_explorer.md
  third_party/CMakeLists.txt
  venv/activate
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Fix top_k
  tests/torch/single_chip/ops/test_topk.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Addressed comments
  tests/torch/single_chip/ops/test_topk.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Addressed more comments
  tests/torch/single_chip/ops/test_topk.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Formatting
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

test torch-xla 2.9.0
  .github/workflows/call-build.yml
  .github/workflows/manual-test.yml
  venv/activate
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add buffer instance UID
  pjrt_implementation/inc/api/buffer_instance.h
  pjrt_implementation/src/api/buffer_instance.cc
Owners: @ajakovljevicTT, @mrakitaTT

Revert "Add shapestr function; dump log with UID at constructon and destruction to check for BI leaks"
  pjrt_implementation/inc/api/buffer_instance.h
  pjrt_implementation/src/api/buffer_instance.cc
Owners: @ajakovljevicTT, @mrakitaTT

Add shapestr function; dump log with UID at constructon and destruction to check for BI leaks
  pjrt_implementation/inc/api/buffer_instance.h
  pjrt_implementation/src/api/buffer_instance.cc
Owners: @ajakovljevicTT, @mrakitaTT

Add PID append to filename option in opt-in autouse fixture, add log-to-file capability for tt-xla
  pjrt_implementation/src/utils/logging.cc
  tests/conftest.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add pid-append to TTMLIR_RUNTIME_LOGGER_FILE as well
  tests/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT
