Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT

remove unnecessary logic
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

add --pre flag info
  docs/src/getting_started.md
Owners: @ajakovljevicTT, @mrakitaTT

add nightly release page as requested by mrakitaTT
  docs/src/getting_started.md
Owners: @ajakovljevicTT, @mrakitaTT

add --pre flag info (#1422)
  docs/src/getting_started.md
Owners: @ajakovljevicTT, @mrakitaTT

Applying review
  inc/common/pjrt_implementation/client_instance.h
  src/common/pjrt_implementation/client_instance.cc
  tests/infra/testers/compiler_config.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

uplift transformers library to 4.56.1
  .github/workflows/test-matrix-presets/model-test-passing.json
  python_package/tt_torch/backend/backend.py
  venv/requirements-dev.txt
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

Add support for parsing custom compiler options in PJRT backend compile (#1321)
  inc/common/pjrt_implementation/client_instance.h
  src/common/pjrt_implementation/client_instance.cc
  tests/infra/testers/compiler_config.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Uplift third_party/tt-mlir to 0fda4af6c6221214121f8390e9544d8dad9490ab 2025-09-19
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 0fda4af6c6221214121f8390e9544d8dad9490ab 2025-09-19 (#1424)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Bringup BEVFormer pytorch model (#141)
  bevformer/pytorch/loader.py
  bevformer/pytorch/src/model.py
  bevformer/pytorch/src/model_utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Bringup MapTR Bevformer variants (#154)
  bevformer/pytorch/loader.py
  config.py
  maptr/pytorch/__init__.py
  maptr/pytorch/loader.py
  maptr/pytorch/requirements.nodeps.txt
  maptr/pytorch/src/maptr.py
Owners: @ajakovljevicTT, @mrakitaTT

Refactor torch ops and graphs
  tests/torch/single_chip/graphs/test_simple_matmul.py
  tests/torch/single_chip/ops/test_conv2d.py
  tests/torch/single_chip/ops/test_eltwise_binary_ops.py
  tests/torch/single_chip/ops/test_eltwise_unary_ops.py
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

add test_matmul_sweeps.py
  tests/torch/single_chip/sweeps/test_matmul_sweeps.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

fix torch infra issue to test ops and graphs
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/op/op_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

BringUp vadv2 model
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Pipe through comparison metrics for runtime data reporting
  tests/infra/comparators/comparator.py
  tests/infra/comparators/torch_comparator.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add env var options to only capture red models, and to not skip/xfail tests
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Record accuracy metrics to tags instead of as TLAs
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

trim nightly
  .github/workflows/schedule-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

add passing llama4 vision model test
  tests/torch/single_chip/models/llama4/__init__.py
  tests/torch/single_chip/models/llama4/test_llama4.py
  tests/torch/single_chip/models/llama4/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Adjust timeout for call-test workflow to 2h->3h
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Add manual dispatch for data collection
  .github/workflows/workflow-run-collect-data.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Add manual dispatch for data collection (#1428)
  .github/workflows/workflow-run-collect-data.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

add text model (failing)
  tests/torch/single_chip/models/llama4/text/__init__.py
  tests/torch/single_chip/models/llama4/text/test_llama4_text.py
  tests/torch/single_chip/models/llama4/text/tester.py
  tests/torch/single_chip/models/llama4/vision/__init__.py
  tests/torch/single_chip/models/llama4/vision/test_llama4_vision.py
  tests/torch/single_chip/models/llama4/vision/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

override assert pcc/atol mechanism to disable assertion and always report pcc/atol
  tests/infra/comparators/comparator.py
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

add single layer test
  tests/torch/single_chip/models/llama4/single_layer/__init__.py
  tests/torch/single_chip/models/llama4/single_layer/test_llama4_single_layer.py
  tests/torch/single_chip/models/llama4/single_layer/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Disable CPU compile
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Added option to load shard specs from model loader
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/utilities/__init__.py
  tests/infra/utilities/types.py
  tests/infra/workloads/workload.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Uplift third_party/tt-mlir to 57f4afd4a32f55150739546a9d6a3ff5cb0cc0d8 2025-09-20
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 57f4afd4a32f55150739546a9d6a3ff5cb0cc0d8 2025-09-20 (#1430)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

changes required to support SDPA prefil lop
  integrations/vllm_plugin/vllm_tt/attention.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  python_package/tt_torch/custom_ops.py
  tests/integrations/vllm_plugin/test_opt_generation.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

use ttnn both prefill/decode sdpa
  tests/integrations/vllm_plugin/test_opt_generation.py
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Update tt-mlir commit
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 43a1024947c15ed428c0ef969dcfa087dff86a03 2025-09-22
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 43a1024947c15ed428c0ef969dcfa087dff86a03 2025-09-22 (#1431)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add support for Maptr's GKA dependent tiny and nano variants in pytorch (#156)
  maptr/pytorch/loader.py
  maptr/pytorch/src/maptr.py
Owners: @ajakovljevicTT, @mrakitaTT

update group for unet and remove duplicate implementations (#152)
  phi3/phi_3_5_moe/__init__.py
  phi3/phi_3_5_moe/pytorch/__init__.py
  phi3/phi_3_5_moe/pytorch/loader.py
  stable_diffusion_3_5/pytorch/__init__.py
  stable_diffusion_3_5/pytorch/loader.py
  unet/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Changed the frontend pass so that the default argument is input (#1358)
  inc/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add detailed GM logging, use torch.export.export instead, move model.compile() to latest location
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

show broken llama generate example and why it doesn't work
  examples/pytorch/llama_generate.py
Owners: @ajakovljevicTT, @mrakitaTT
