Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

WIP
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Test
  python_package/jax_plugin_tt/monkeypatch.py
Owners: @ajakovljevicTT, @mrakitaTT

pre-commit
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Restore call test
  .github/workflows/call-test.yml
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix job dependancy needs
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Undo dockerfile change
  .github/Dockerfile.ci
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

temporary fix - set fabric config
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add torch-xla TP tests for llama 3.1 8B and mistral 7B models
  requirements.txt
  tests/torch_xla/tensor_parallel/llama/test_llama3_1-8B.py
  tests/torch_xla/tensor_parallel/mistral/test_mistral-7B.py
  tests/torch_xla/utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

TEST
  tests/jax/single_chip/graphs/test_gelu.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Spam gelu tests
  python_package/jax_plugin_tt/monkeypatch.py
  tests/jax/single_chip/graphs/test_gelu.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

pre-commit
  python_package/jax_plugin_tt/monkeypatch.py
  tests/jax/single_chip/graphs/test_gelu.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Fix
  tests/conftest.py
  tests/jax/single_chip/graphs/test_gelu.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Move inspect changes logic to an action
  .github/actions/inspect-changes/action.yml
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add changes
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Install python 3.11 Preinstall requirements.txt insto docker Bump jax version
  .github/Dockerfile.base
  requirements.txt
  venv/activate
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Change WorkloadFactory to just Workload
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Deduplicate ModelVariant enums, adding missing batch_size, add 2 missing model variants (unet, resnext) used by tt-torch (#115)
  dla/pytorch/loader.py
  efficientnet/pytorch/loader.py
  hrnet/pytorch/loader.py
  resnet/pytorch/loader.py
  resnext/pytorch/loader.py
  unet/pytorch/loader.py
  vovnet/pytorch/loader.py
  wide_resnet/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/backend/backend.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove invalid compile_config options
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove old multichip funcs
  tt_torch/backend/backend.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Add torch_xla basic tests
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

use tt-torch backend for torch tests
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pipe through compile config
  tests/infra/runners/device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix bug that would cause CPU run to execute on device accidentally
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add pytest fixture to reset seed and torch dynamo state between tests
  tests/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add comments/docstrings as per Nikola's request
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

comment out _extend_context_manager to test CI
  tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove erf and gelu decomps
  tests/conftest.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tests/torch/single_chip/test_torch_xla_basic.py
  tt_torch/backend/decompositions.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix pre-commit:
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove unused functions
  tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix rebase conflicts and issues
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Should work
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/mnist/mlp/__init__.py
  tests/torch/single_chip/models/mnist/mlp/model_implementation.py
  tests/torch/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/torch/single_chip/models/mnist/mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add missing checkout
  .github/workflows/pr-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix push workflow
  .github/workflows/push-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add deps to requirements.txt for August 26 tt-forge-models uplift
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update test_config / test_durations for resnext, hrnet, vovnet, gliner, autoencoder, unet variant name changes
  .test_durations
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

WIP: infra working, still needs minor fixes
  tests/infra/connectors/torch_device_connector.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 20e10bda from Aug16
  pytest.ini
  requirements.txt
  tests/runner/conftest.py
  tests/runner/requirements.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Update TorchModelTester _get_forward_method_args() for list/tuple inputs
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
