Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

Cherry pick buffer map changes from 4e9144fd4f437f16f669a9fe9b82bd72a9b4ee25
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Close device based on env var bridge IS_PREFILL
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Open device once for multiple runs, enable optimizer
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/module_builder.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add client instance scoped buffer cache
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

minor fixes, move some buffer functions to public
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add logging around device open/close
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Try to buffer static cache tensors only
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Temporarily disable caching
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add lifetime of loaded executable instance prints, buffer map caching logs
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 52da78fe5be30e1dfe15885848e3b9097ab86557 2025-08-12 (#971)
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 97e2e0f0 plus some touchups (skip large models)
  pytest.ini
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Initial changes for test_models.py working in tt-xla
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add some missing deps to requirements.txt to get same models discovered/run as tt-torch
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 402adb4cc01f10e51f445cdbad4363c0feb32751 2025-08-13
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add Beit JAX model for image classification (#75)
  beit/image_classification/jax/__init__.py
  beit/image_classification/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Infra Refactor (#931)
  tests/infra/comparators/comparator.py
  tests/infra/comparators/comparator_factory.py
  tests/infra/comparators/jax_comparator.py
  tests/infra/comparators/torch_comparator.py
  tests/infra/connectors/device_connector.py
  tests/infra/connectors/jax_device_connector.py
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/device_runner.py
  tests/infra/runners/device_runner_factory.py
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/base_tester.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/torch_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 402adb4cc01f10e51f445cdbad4363c0feb32751 2025-08-13 (#983)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Pre-commit
  tests/infra/runners/jax_device_runner.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Workload merge
  tests/infra/__init__.py
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/__init__.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/torch_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fixed JaxMulthichipWorkload
  tests/infra/workloads/jax_workload.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added static_argnames as param to Workload (put_on_device at runner needs static_arg); TorchWorkload needs executable because of comparison (comparator.py -> compare() -> _match_data_types())
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Comment changed
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

WIP
  tests/conftest.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove pytest marks
  tests/conftest.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fixed smaller typos, and given few comments about usage, still needs small reorganizing for utils stuff, to make workspace appear cleaner and to lessen redundancy of code.
  tests/jax/multi_chip/bounties/falcon3_7b/README.md
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax_sharded.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/multi_vs_single.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/single_vs_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/flax_utils.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/torch_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Workload merge
  tests/infra/__init__.py
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/__init__.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/torch_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add tests for bart and bert models (#79)
  bart/causal_lm/__init__.py
  bart/causal_lm/jax/__init__.py
  bart/causal_lm/jax/loader.py
  bert/masked_lm/jax/__init__.py
  bert/masked_lm/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Update jax tests of bart and bert to load from tt-forge-models
  tests/jax/single_chip/models/bart/base/test_bart_base.py
  tests/jax/single_chip/models/bart/large/test_bart_large.py
  tests/jax/single_chip/models/bart/tester.py
  tests/jax/single_chip/models/bert/base/test_bert_base.py
  tests/jax/single_chip/models/bert/large/test_bert_large.py
  tests/jax/single_chip/models/bert/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pre-Commit
  tests/infra/runners/jax_device_runner.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

TT-mlir and tt-metal change for main update
  requirements.txt
  tests/torch_xla/test_training.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

update beit model to use model loader from tt-forge repository
  tests/jax/single_chip/models/beit/base/test_beit_base.py
  tests/jax/single_chip/models/beit/large/test_beit_large.py
  tests/jax/single_chip/models/beit/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add torch tests for autoencoder linear (#847)
  tests/torch/single_chip/models/autoencoder_linear/__init__.py
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
  tests/torch/single_chip/models/autoencoder_linear/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update jax tests of bart and bert to load from tt-forge-models (#970)
  tests/jax/single_chip/models/bart/base/test_bart_base.py
  tests/jax/single_chip/models/bart/large/test_bart_large.py
  tests/jax/single_chip/models/bart/tester.py
  tests/jax/single_chip/models/bert/base/test_bert_base.py
  tests/jax/single_chip/models/bert/large/test_bert_large.py
  tests/jax/single_chip/models/bert/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update JAX Albert variants to use ModelLoader from tt-forge-models
  tests/jax/single_chip/models/albert_v2/base/test_albert_base.py
  tests/jax/single_chip/models/albert_v2/large/test_albert_large.py
  tests/jax/single_chip/models/albert_v2/tester.py
  tests/jax/single_chip/models/albert_v2/xlarge/test_albert_xlarge.py
  tests/jax/single_chip/models/albert_v2/xxlarge/test_albert_xxlarge.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update handful of models to have requirements.txt and defer imports to runtime functions (#85)
  bi_rnn_crf/pytorch/loader.py
  bi_rnn_crf/pytorch/requirements.txt
  gliner/pytorch/loader.py
  gliner/pytorch/requirements.txt
  mlp_mixer/lucidrains/pytorch/loader.py
  mlp_mixer/lucidrains/pytorch/requirements.txt
  seamless_m4t/pytorch/loader.py
  seamless_m4t/pytorch/requirements.txt
  yolov6/pytorch/loader.py
  yolov6/pytorch/requirements.txt
  yolox/pytorch/loader.py
  yolox/pytorch/requirements.nodeps.txt
  yolox/pytorch/requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Pipe through compile config
  tests/infra/runners/device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

use tt-torch backend for torch tests
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove old multichip funcs
  tt_torch/backend/backend.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove invalid compile_config options
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Add torch_xla basic tests
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT
