Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT
pytest.ini @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT
.test_durations @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic

# Third Party
/third_party/ @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

Switch Falcon7B TP test back to EXPECTED_PASSING working now
  tests/runner/test_config/test_config_inference_tensor_parallel.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add 11 Tensor Parallel tests from llama, qwen3, pixtral, mistral: 9 red, 2 generality
  tests/runner/test_config/test_config_inference_tensor_parallel.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Trim model-test-passing.json to TP tests, 2 runners
  .github/workflows/test-matrix-presets/model-test-passing.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Bringup Sentencizer model (#180)
  sentencizer/pytorch/__init__.py
  sentencizer/pytorch/loader.py
  sentencizer/pytorch/src/__init__.py
  sentencizer/pytorch/src/adapter_utils.py
  sentencizer/pytorch/src/models.py
  sentencizer/pytorch/src/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Try 4 groups
  .github/workflows/test-matrix-presets/model-test-passing.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

implement custom name
  .github/workflows/manual-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

remove useless part of expression
  .github/workflows/manual-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

different approach
  .github/workflows/call-test.yml
  .github/workflows/manual-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

set custom name
  .github/workflows/test-matrix-presets/model-test-training.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

match job name in fetch job id job
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

add jax test for alexnet and mnist mlp multimodel
  tests/jax/multi_chip/llmbox/8_devices/models/tensor_parallel/mnist_mlp/test_mnist_mlp.py
  tests/jax/multi_chip/n300/models/tensor_parallel/alexnet/model_implementation.py
  tests/jax/multi_chip/n300/models/tensor_parallel/alexnet/tester.py
  tests/jax/multi_chip/n300/models/tensor_parallel/mnist_mlp/model_implementation.py
  tests/jax/multi_chip/n300/models/tensor_parallel/mnist_mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

add xfail for model failing with pcc error (#1770)
  tests/runner/test_config/test_config_inference_single_device.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

replacing mistral model (#151)
  mistral/causal_lm/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Add tinyllama support (#183)
  llama/causal_lm/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Bringup CodeGemma model (#182)
  gemma/codegemma/__init__.py
  gemma/codegemma/pytorch/__init__.py
  gemma/codegemma/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

uplift to 22ff8683dc88d7e97a6bd0f35b942058139f61c3
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift tt-mlir
  python_package/pjrt_plugin_tt/__init__.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @kmabeeTT, @jameszianxuTT

Uplift third_party/tt-mlir to cd2498cc1d915659242942984b27e599451d3058 2025-10-23
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic
