Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

Remove op-by-op related code
  tt_torch/backend/backend.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Sorted files, just need to test everything once again
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax_sharded.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/single_vs_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/flax_utils.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/output_utils.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/torch_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Finished testing, everything should work properly still.
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/torch_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Final version, ready to be submitted!
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_flax.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/generate_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/multi_vs_single.py
  tests/jax/multi_chip/bounties/falcon3_7b/test/single_vs_hf.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/data_utils.py
  tests/jax/multi_chip/bounties/falcon3_7b/utils/output_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix bug that would cause CPU run to execute on device accidentally
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

update beit model to use model loader from tt-forge repoistory (#951)
  tests/jax/single_chip/models/beit/base/test_beit_base.py
  tests/jax/single_chip/models/beit/large/test_beit_large.py
  tests/jax/single_chip/models/beit/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added Docker Image for manylinux
  .github/Dockerfile.cibuildwheel
  .github/build-docker-images.sh
  .github/workflows/build-image.yml
  .github/workflows/on-push.yml
  .github/workflows/wheel-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

lint
  .github/Dockerfile.cibuildwheel
  .github/workflows/wheel-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

build toolchain
  .github/Dockerfile.cibuildwheel
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 97e2e0f0 plus some touchups (skip large models)
  pytest.ini
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Initial changes for test_models.py working in tt-xla
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add some missing deps to requirements.txt to get same models discovered/run as tt-torch
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 581d88b931fea36b179d6533a5527cccfaa51823 2025-08-14
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 581d88b931fea36b179d6533a5527cccfaa51823 2025-08-14 (#1006)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

update bloom model to use model loader from tt-forge repoistory
  tests/jax/single_chip/models/bloom/bloom_1b1/test_1b1.py
  tests/jax/single_chip/models/bloom/bloom_1b7/test_1b7.py
  tests/jax/single_chip/models/bloom/bloom_3b/test_3b.py
  tests/jax/single_chip/models/bloom/bloom_560m/test_560m.py
  tests/jax/single_chip/models/bloom/bloom_7b/test_7b.py
  tests/jax/single_chip/models/bloom/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Correct invalid ModelTask enum names (#78)
  config.py
  detr/segmentation/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Add Jax models for Bigbird and Blenderbot (#86)
  bigbird/question_answering/jax/__init__.py
  bigbird/question_answering/jax/loader.py
  blenderbot/summarization/jax/__init__.py
  blenderbot/summarization/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

[build] wheel restructuring to handle both frameworks
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  docs/src/getting_started_build_from_source.md
  examples/jax/simple_regression.py
  examples/pytorch/alexnet.py
  examples/pytorch/mnist.py
  python_package/MANIFEST.in
  python_package/__init__.py
  python_package/cleanup.sh
  python_package/jax_plugin_tt/__init__.py
  python_package/pjrt_plugin_tt/__init__.py
  python_package/setup.py
  python_package/torch_plugin_tt/__init__.py
  src/tt/CMakeLists.txt
  tests/infra/connectors/device_connector.py
  tests/infra/connectors/jax_device_connector.py
  tests/infra/connectors/torch_device_connector.py
  third_party/CMakeLists.txt
  venv/activate
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Update JAX Albert variants to use ModelLoader from tt-forge-models (#940)
  tests/jax/single_chip/models/albert_v2/base/test_albert_base.py
  tests/jax/single_chip/models/albert_v2/large/test_albert_large.py
  tests/jax/single_chip/models/albert_v2/tester.py
  tests/jax/single_chip/models/albert_v2/xlarge/test_albert_xlarge.py
  tests/jax/single_chip/models/albert_v2/xxlarge/test_albert_xxlarge.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Squashed
  src/common/CMakeLists.txt
  src/common/compile_options.cc
  src/common/compile_options.h
  src/common/module_builder.cc
  src/common/module_builder.h
  tests/infra/connectors/device_connector.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/jax/single_chip/models/resnet_v1_5/resnet_26/test_resnet_26.py
  tests/jax/single_chip/models/resnet_v1_5/tester.py
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

bringup tt-forge-fe models - set10 (#81)
  config.py
  densenet/pytorch/loader.py
  densenet/pytorch/src/utils.py
  inception/pytorch/loader.py
  mlp_mixer/pytorch/loader.py
  mlp_mixer/pytorch/src/model.py
  mobilenetv1/pytorch/__init__.py
  mobilenetv2/pytorch/loader.py
  mobilenetv2/pytorch/src/utils.py
  mobilenetv3/__init__.py
  mobilenetv3/pytorch/__init__.py
  mobilenetv3/pytorch/loader.py
  regnet/pytorch/loader.py
  resnet/pytorch/__init__.py
  resnet/pytorch/loader.py
  resnet/pytorch/src/utils.py
  resnext/pytorch/loader.py
  retinanet/pytorch/loader.py
  swin/image_classification/__init__.py
  swin/image_classification/pytorch/__init__.py
  swin/image_classification/pytorch/loader.py
  swin/masked_image_modeling/__init__.py
  swin/masked_image_modeling/pytorch/__init__.py
  swin/masked_image_modeling/pytorch/loader.py
  swin/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Minor formatting changes
  src/common/compile_options.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

pre commit
  tests/infra/testers/single_chip/model/jax_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Adding optimizer enabling through compile options (#942)
  src/common/CMakeLists.txt
  src/common/compile_options.cc
  src/common/compile_options.h
  src/common/module_builder.cc
  src/common/module_builder.h
  tests/infra/connectors/device_connector.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/jax/single_chip/models/resnet_v1_5/resnet_26/test_resnet_26.py
  tests/jax/single_chip/models/resnet_v1_5/tester.py
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Propagate CMAKE_BUILD_TYPE from upstream
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Always enable opmodel
  CMakeLists.txt
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add pytest fixture to reset seed and torch dynamo state between tests
  tests/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Always enable opmodel (#1012)
  CMakeLists.txt
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update dtype override and seq_len in the llama3, deepseek models (#91)
  deepseek/deepseek_coder/pytorch/loader.py
  deepseek/deepseek_math/pytorch/loader.py
  llama/causal_lm/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Uplift LLVM, stableHLO and shardy versions.
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add torch-xla TP tests for llama 3.1 8B and mistral 7B models
  requirements.txt
  tests/torch_xla/tensor_parallel/llama/test_llama3_1-8B.py
  tests/torch_xla/tensor_parallel/mistral/test_mistral-7B.py
  tests/torch_xla/utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Uplift third_party/tt-mlir to d091067b293cde86466b371963e404a3fa567bda 2025-08-15
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

don't run nightly tests
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

test
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

added custom token to avoid rate limiting
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

run many torch tests to trigger rate limit
  .github/workflows/test-full-model-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

change models
  .github/workflows/test-full-model-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

undo testing changes
  .github/workflows/on-nightly.yml
  .github/workflows/test-full-model-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

added variable to avoid missing env var failure in tests
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT
