Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

Bringup tt-forge-fe models - set13 (#98)
  autoencoder/pytorch/__init__.py
  autoencoder/pytorch/loader.py
  autoencoder/pytorch/src/__init__.py
  autoencoder/pytorch/src/conv_ae.py
  autoencoder/pytorch/src/linear_ae.py
  autoencoder_linear/pytorch/loader.py
  efficientnet_lite/pytorch/__init__.py
  efficientnet_lite/pytorch/loader.py
  falcon/pytorch/loader.py
  gemma/pytorch/__init__.py
  gemma/pytorch/loader.py
  gemma/pytorch/src/model_utils.py
  gliner/pytorch/__init__.py
  gliner/pytorch/loader.py
  gliner/pytorch/src/model_utils.py
  nbeats/pytorch/__init__.py
  nbeats/pytorch/loader.py
  nbeats/pytorch/src/dataset.py
  nbeats/pytorch/src/http_utils.py
  nbeats/pytorch/src/model.py
  nbeats/pytorch/src/sampler.py
  nbeats/pytorch/src/settings.py
  nbeats/pytorch/src/utils.py
  phi3/causal_lm/pytorch/__init__.py
  phi3/causal_lm/pytorch/loader.py
  phi3/phi_3_5/pytorch/__init__.py
  phi3/phi_3_5/pytorch/loader.py
  phi3/pytorch/loader.py
  phi3/seq_cls/pytorch/__init__.py
  phi3/seq_cls/pytorch/loader.py
  phi3/token_cls/pytorch/__init__.py
  phi3/token_cls/pytorch/loader.py
  segformer/semantic_segmentation/pytorch/loader.py
  suryaocr/pytorch/__init__.py
  suryaocr/pytorch/loader.py
  unet/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Simple test for backward pass
  tests/torch/single_chip/test_torch_training_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Enable argument type population of torch models
  inc/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.h
  python_package/monkeypatch.py
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  ttxla_tools/ttxla_tools.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add example
  examples/pytorch/explicit_argument_type_annotation_mnist.py
  ttxla_tools/ttxla_tools.py
Owners: @ajakovljevicTT, @mrakitaTT

fix comment
  ttxla_tools/ttxla_tools.py
Owners: @ajakovljevicTT, @mrakitaTT

Add support for parsing custom compiler options in PJRT backend compile
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

debug prints around pip packages in RequirementsManager
  .github/workflows/run-tt-forge-models-tests.yml
  tests/runner/requirements.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Hack to run grp of 10 tests forked
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fix inputs name
  .github/workflows/call-test.yml
  .github/workflows/on-nightly.yml
  .github/workflows/on-pr.yml
  .github/workflows/on-push.yml
  .github/workflows/run_tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Use run_id
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Remvove global counter
  ttxla_tools/ttxla_tools.py
Owners: @ajakovljevicTT, @mrakitaTT

Set env var
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Try on p150
  .github/workflows/test-forge-models-matrix.json
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Ignore codecov errors
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Install cpu only requirements
  .github/workflows/call-test.yml
  requirements.txt
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Install torch cpu only
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Initial changes to simplify/improve xml reporting from test_models.py
  tests/conftest.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

run_mode cleanup call "inference" instead of "eval"
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

rename full-eval to full-inference
  .test_durations
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

compiler_config in DynamicTester cleanup
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

some cleanup
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add JAX models for Electra and distilbert (#96)
  bigbird/question_answering/jax/loader.py
  distilbert/masked_lm/jax/__init__.py
  distilbert/masked_lm/jax/loader.py
  electra/causal_lm/__init__.py
  electra/causal_lm/jax/__init__.py
  electra/causal_lm/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Add JAX models for GPT2 and GPT-J (#100)
  gpt2/causal_lm/__init__.py
  gpt2/causal_lm/jax/__init__.py
  gpt2/causal_lm/jax/loader.py
  gpt_j/causal_lm/__init__.py
  gpt_j/causal_lm/jax/__init__.py
  gpt_j/causal_lm/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Add torch-xla TP tests for llama 3.1 8B and mistral 7B models
  requirements.txt
  tests/torch_xla/tensor_parallel/llama/test_llama3_1-8B.py
  tests/torch_xla/tensor_parallel/mistral/test_mistral-7B.py
  tests/torch_xla/utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Updates to --arch flag to take n150, p150 etc
  .github/workflows/test.yml
  tests/runner/conftest.py
  tests/runner/test_config.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Add back n150 tests
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Update JAX tests for Blenderbot and BigBird
  tests/jax/single_chip/models/bigbird/roberta_base/test_bigbird_roberta_base.py
  tests/jax/single_chip/models/bigbird/roberta_large/test_bigbird_roberta_large.py
  tests/jax/single_chip/models/bigbird/tester.py
  tests/jax/single_chip/models/blenderbot/blenderbot_3b/test_blenderbot_3b.py
  tests/jax/single_chip/models/blenderbot/distill_1b/test_blenderbot_1b_distill.py
  tests/jax/single_chip/models/blenderbot/distill_400m/test_blenderbot_400m_distill.py
  tests/jax/single_chip/models/blenderbot/small_90m/test_blenderbot_small_90m.py
  tests/jax/single_chip/models/blenderbot/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix ARCH
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add Bloom JAX model for image classification (#90)
  bloom/causal_lm/__init__.py
  bloom/causal_lm/jax/__init__.py
  bloom/causal_lm/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to b03d526f953d654ef167faf534a20fd2b357ba76 2025-08-22
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Fix incorrect path for autoencoder_linear model
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
  tests/torch/single_chip/models/autoencoder_linear/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add JAX models for clip and GPT-Neo (#101)
  clip/image_classification/jax/__init__.py
  clip/image_classification/jax/loader.py
  gpt_neo/causal_lm/jax/__init__.py
  gpt_neo/causal_lm/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Cleanup comments and debug
  .github/workflows/call-build.yml
  .github/workflows/call-test.yml
  .github/workflows/pre-commit.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

update JAX tests for mbart50 and mistral7b
  tests/jax/single_chip/models/mbart50/large_many_to_many/test_mbart50_large_many_to_many.py
  tests/jax/single_chip/models/mbart50/tester.py
  tests/jax/single_chip/models/mistral_7b/tester.py
  tests/jax/single_chip/models/mistral_7b/v0_1/test_mistral_7b_v0_1.py
  tests/jax/single_chip/models/mistral_7b/v0_1_tiny/test_mistral_7b_tiny_v0_1.py
  tests/jax/single_chip/models/mistral_7b/v0_2_instruct/test_mistral_7b_v0_2_instruct.py
  tests/jax/single_chip/models/mistral_7b/v0_3_instruct/test_mistral_7b_v0_3_instruct.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

added ird image creation
  .github/Dockerfile.ird
  .github/build-docker-images.sh
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

fixed from image docker build
  .github/build-docker-images.sh
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

trigger docker image rebuild
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

run build image on n300, lack of space on gh runner
  .github/workflows/build-image.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

switch to shared cpu runner
  .github/workflows/build-image.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

add dev dep
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT
