Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

Enable fwd/bwd compilation
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

nit
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add mark for training/inference
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  pytest.ini
  tests/runner/test_config/test_config_training.py
  tests/runner/test_models.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

pre-commit
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

pre-commit
  tests/runner/test_config/__init__.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Update pytest.ini to include new marks
  pytest.ini
Owners: @ajakovljevicTT, @mrakitaTT

Update experimental nightly to run only inference models
  .github/workflows/test-matrix-presets/model-test-experimental.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Torch training infra
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/mnist/mlp/__init__.py
  tests/torch/single_chip/models/mnist/mlp/model_implementation.py
  tests/torch/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/torch/single_chip/models/mnist/mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/infra/connectors/torch_device_connector.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Fix mnist test status
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

insert proper issue link
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Remove unnesserry tests
  tests/torch/single_chip/models/mnist/mlp/__init__.py
  tests/torch/single_chip/models/mnist/mlp/model_implementation.py
  tests/torch/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/torch/single_chip/models/mnist/mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_config/test_config_inference.py
  tests/runner/test_config/test_config_training.py
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Skip compiling training workloads
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add proper test
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Revert capture modifications
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

nit: add option to description
  .github/workflows/manual-test-single.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Revert debug
  pytest.ini
Owners: @ajakovljevicTT, @mrakitaTT

nit
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

tweak
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

precommit
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

codegen v1 done
  inc/common/pjrt_implementation/module_builder/compile_options.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/CMakeLists.txt
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

pre-commit
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

First version of composite ops in torch.
  python_package/tt_torch/backend/backend.py
  python_package/tt_torch/custom_ops.py
  tests/torch/single_chip/test_gelu_composite_eager.py
  tests/torch/single_chip/test_gelu_composite_model.py
  tests/torch/single_chip/test_torch_xla_basic.py
  tests/torch/test_gelu_composite.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add an env var to make TorchXLA give useful locs (#1401)
  python_package/torch_plugin_tt/__init__.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Some changes
  .github/Dockerfile.base
  cmake/TTMLIRConfig.cmake.in
  src/common/CMakeLists.txt
  third_party/CMakeLists.txt
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

Add CLAUDE.md file with comprehensive development guidance
  CLAUDE.md
Owners: @ajakovljevicTT, @mrakitaTT

remove env var usage from cmakelists and remove redundnant mlir build step
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Switch training models from nightly -> model_test (#1463)
  tests/jax/single_chip/models/gpt2/base/test_gpt2_base.py
  tests/jax/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/jax/single_chip/models/mnist/cnn/nodropout/test_mnist_cnn_nodropout.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Remove return_dict parametar from all model intializations (#159)
  bert/masked_lm/pytorch/loader.py
  bert/question_answering/pytorch/loader.py
  bert/sentence_embedding_generation/pytorch/loader.py
  bert/sequence_classification/pytorch/loader.py
  bert/token_classification/pytorch/loader.py
  dpr/context_encoder/pytorch/loader.py
  dpr/question_encoder/pytorch/loader.py
  dpr/reader/pytorch/loader.py
  falcon/pytorch/loader.py
  flux/pytorch/loader.py
  fuyu/pytorch/loader.py
  gpt2/pytorch/loader.py
  mamba/pytorch/loader.py
  mgp_str_base/pytorch/loader.py
  mplug_owl2/loader.py
  nanogpt/pytorch/loader.py
  perceiverio_vision/pytorch/loader.py
  phi3/phi_3_5/pytorch/loader.py
  roberta/pytorch/loader.py
  segformer/pytorch/loader.py
  squeezebert/pytorch/loader.py
  t5/pytorch/loader.py
  vilt/question_answering/pytorch/loader.py
  whisper/pytorch/loader.py
  xglm/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix fix
  src/common/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Mark many large models as push to try against p150
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Add env var options to only capture red models, and to not skip/xfail tests
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Remove push on 4 single chip models
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

create build and install dirs first
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add decoder layer only llama example
  examples/pytorch/decoder_layer_llama.py
  examples/pytorch/single_llama.py
Owners: @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT
