Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

WIP: example of alchemist usage
  examples/emitc_test.py
Owners: @ajakovljevicTT, @mrakitaTT

WIP: switch to a side branch on mlir
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

compile tt-mlir in debug
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Add IS_PREFILL env var check to force close device on prefill step.
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

ALso force deallocation of all tensors on device
  .gitignore
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Open device once for multiple runs, enable optimizer
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/module_builder.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Close device based on env var bridge IS_PREFILL
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

hacked move m_runtime_device to client_instance
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add logging around device open/close
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Cherry pick buffer map changes from 4e9144fd4f437f16f669a9fe9b82bd72a9b4ee25
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

minor fixes, move some buffer functions to public
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

ADd tensor dims logging in cache debug
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

use tt-torch backend for torch tests
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tt_torch/__init__.py
  tt_torch/backend/backend.py
  tt_torch/backend/decompositions.py
  tt_torch/backend/passes.py
  tt_torch/tools/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add logging for creation fo owned vs borrowed host tensor
  src/common/pjrt_implementation/buffer_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to c3e4c381b5bb9860cdc6912e27b0a5e46cec8c41 2025-08-08
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to c3e4c381b5bb9860cdc6912e27b0a5e46cec8c41 2025-08-08 (#955)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

update beit model to use model loader from tt-forge repoistory
  tests/jax/single_chip/models/beit/base/test_beit_base.py
  tests/jax/single_chip/models/beit/large/test_beit_large.py
  tests/jax/single_chip/models/beit/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added static_argnames as param to Workload (put_on_device at runner needs static_arg); TorchWorkload needs executable because of comparison (comparator.py -> compare() -> _match_data_types())
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

modify import statement according to tt-forge models repo
  tests/torch/single_chip/models/bert/tester.py
  tests/torch/single_chip/models/detr/tester.py
  tests/torch/single_chip/models/distilbert/tester.py
  tests/torch/single_chip/models/dpr/tester.py
  tests/torch/single_chip/models/flan_t5/tester.py
  tests/torch/single_chip/models/gpt_neo/tester.py
  tests/torch/single_chip/models/phi1/tester.py
  tests/torch/single_chip/models/phi1_5/tester.py
  tests/torch/single_chip/models/qwen_2/tester.py
  tests/torch/single_chip/models/qwen_2_5/tester.py
  tests/torch/single_chip/models/vilt/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

switch nightly to vms
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add test for AlexNet model
  tests/torch/single_chip/models/alexnet/__init__.py
  tests/torch/single_chip/models/alexnet/test_alexnet.py
  tests/torch/single_chip/models/alexnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add test for AlexNet model using tt-forge-models repository (#746)
  tests/torch/single_chip/models/alexnet/__init__.py
  tests/torch/single_chip/models/alexnet/test_alexnet.py
  tests/torch/single_chip/models/alexnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

add test for oft model (#863)
  tests/torch/single_chip/models/oft/__init__.py
  tests/torch/single_chip/models/oft/test_oft.py
  tests/torch/single_chip/models/oft/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

it works with memory leakage
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/convert_weights.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/generate_multi_chip.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/model.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/stablehlo_output.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fixed JaxMulthichipWorkload
  tests/infra/workloads/jax_workload.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

TT-mlir and tt-metal change for main update
  requirements.txt
  tests/torch_xla/test_training.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Remove old multichip funcs
  tt_torch/backend/backend.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Add LASTDIM_SIDECHANNEL
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add torch_xla basic tests
  tests/torch/single_chip/test_torch_xla_basic.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/backend/backend.py
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove invalid compile_config options
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Add lifetime of loaded executable instance prints, buffer map caching logs
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add client instance scoped buffer cache
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

added Qwen2.5-7B bounty files
  tests/jax/multi_chip/bounties/qwen2_5_7b/README.md
  tests/jax/multi_chip/bounties/qwen2_5_7b/generate_multi_chip.py
  tests/jax/multi_chip/bounties/qwen2_5_7b/model.py
  tests/jax/multi_chip/bounties/qwen2_5_7b/test_gsm8k.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 9aada404c56d0a59caba6068edce5e2aed5b63ae 2025-08-09
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 9aada404c56d0a59caba6068edce5e2aed5b63ae 2025-08-09 (#959)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Bringup tt-forge-fe models - set9 (#71)
  fpn/__init__.py
  fpn/pytorch/__init__.py
  fpn/pytorch/loader.py
  phi4/__init__.py
  phi4/causal_lm/__init__.py
  phi4/causal_lm/pytorch/__init__.py
  phi4/causal_lm/pytorch/loader.py
  phi4/seq_cls/__init__.py
  phi4/seq_cls/pytorch/__init__.py
  phi4/seq_cls/pytorch/loader.py
  phi4/token_cls/__init__.py
  phi4/token_cls/pytorch/__init__.py
  phi4/token_cls/pytorch/loader.py
  rcnn/__init__.py
  rcnn/pytorch/__init__.py
  rcnn/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

modify import statement according to tt-forge models repo (#957)
  tests/torch/single_chip/models/bert/tester.py
  tests/torch/single_chip/models/detr/tester.py
  tests/torch/single_chip/models/distilbert/tester.py
  tests/torch/single_chip/models/dpr/tester.py
  tests/torch/single_chip/models/flan_t5/tester.py
  tests/torch/single_chip/models/gpt_neo/tester.py
  tests/torch/single_chip/models/phi1/tester.py
  tests/torch/single_chip/models/phi1_5/tester.py
  tests/torch/single_chip/models/qwen_2/tester.py
  tests/torch/single_chip/models/qwen_2_5/tester.py
  tests/torch/single_chip/models/vilt/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

install and python path shenanigans
  third_party/CMakeLists.txt
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT
