Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

fix runner name
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

set blackhole tag to p150 for civ1 matching
  .github/workflows/test-full-model-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

run only llmbox tests in civ1
  .github/workflows/test-full-model-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

remove large model tests for now
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

fix json
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Bringup tt-forge-fe models - set12 (#97)
  bi_lstm_crf/pytorch/__init__.py
  bi_lstm_crf/pytorch/loader.py
  bi_lstm_crf/pytorch/src/__init__.py
  bi_lstm_crf/pytorch/src/model_utils.py
  config.py
  falcon/pytorch/loader.py
  oft_stable_diffusion/pytorch/__init__.py
  oft_stable_diffusion/pytorch/loader.py
  oft_stable_diffusion/pytorch/src/__init__.py
  oft_stable_diffusion/pytorch/src/model_utils.py
  stable_diffusion/pytorch/__init__.py
  stable_diffusion/pytorch/loader.py
  stable_diffusion/pytorch/src/__init__.py
  stable_diffusion/pytorch/src/model_utils.py
  stable_diffusion_xl/pytorch/__init__.py
  stable_diffusion_xl/pytorch/loader.py
  stable_diffusion_xl/pytorch/src/__init__.py
  stable_diffusion_xl/pytorch/src/model_utils.py
  whisper/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Update download logic
  .github/workflows/call-build.yml
  .github/workflows/call-test.yml
  .github/workflows/on-nightly.yml
  .github/workflows/on-pr.yml
  .github/workflows/on-push.yml
  whl.zip
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Correct GH syntax
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

XFail the torch hrnet test because of BH PCC issues (#1057)
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
  tests/torch/single_chip/models/hrnet/test_hrnet.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Switch all card tests (except llmbox) to CIv1 (#1032)
  .github/workflows/on-nightly.yml
  .github/workflows/test-full-model-matrix.json
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Format artifact name
  .github/workflows/call-build.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add post processing steps for yolov5,v8,v9,v10 and fix minor bugs (#99)
  config.py
  deepseek/deepseek_coder/pytorch/loader.py
  deepseek/deepseek_math/pytorch/loader.py
  gpt2/pytorch/loader.py
  gpt_neo/causal_lm/pytorch/__init__.py
  llava/pytorch/loader.py
  resnet/pytorch/src/utils.py
  tools/utils.py
  yolov10/pytorch/loader.py
  yolov5/pytorch/loader.py
  yolov5/pytorch/src/utils.py
  yolov8/pytorch/loader.py
  yolov9/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Make verbosity dependent on --forked
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

forge models run on CiV1 for now
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

10 job option
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add DOCKER_CACHE_ROOT env to test.yml needed for CiV1 s3 mirror access
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add DOCKER_CACHE_ROOT env to test.yml needed for CiV1 s3 mirror access (#1061)
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add durations flag
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add DOCKER_CACHE_ROOT env to test.yml needed for CiV1 s3 mirror access (#1061)
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

test_config.py updates for few fails
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Disabline not-expected-passing job
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Reorganize code and fix PR comments
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  python_package/setup.py
  src/common/CMakeLists.txt
  src/common/pipelines.cc
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_instance.cc
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Filled tt-mlir arguments
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added collection of attributes
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

FOrmatting
  src/common/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added flex support
  python_package/__init__.py
  python_package/monkeypatch.py
  python_package/setup.py
  src/common/CMakeLists.txt
  src/common/module_builder.cc
  src/common/module_builder.h
  src/common/pipelines.cc
  src/common/pipelines.h
  tests/conftest.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Move the compile options
  inc/common/pjrt_implementation/module_builder/compile_options.h
  src/common/CMakeLists.txt
  src/common/pjrt_implementation/module_builder/compile_options.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix the bad import
  src/common/pjrt_implementation/module_builder/compile_options.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Revert "Add logic to drill trough unary ops when checking if an argument is already marked"
  python_package/monkeypatch.py
Owners: @ajakovljevicTT, @mrakitaTT

Don't assert something that's not an invariant
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add logic to drill trough unary ops when checking if an argument is already marked
  python_package/monkeypatch.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix cases where mark calls are wrapped
  inc/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.h
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

XFail the failing test
  tests/jax/single_chip/models/xlm_roberta/base/test_xlm_roberta_base.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Added monkeypatching for flax.model.apply() and pipeline for weight/input marking (#935)
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/module_builder/compile_options.h
  inc/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  python_package/__init__.py
  python_package/monkeypatch.py
  python_package/setup.py
  src/common/CMakeLists.txt
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_instance.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/frontend_passes/shlo_input_role_propagation.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/conftest.py
  tests/jax/single_chip/models/xlm_roberta/base/test_xlm_roberta_base.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to a3ea3703fb0db66c76a92173d4ba1af94ca27f67 2025-08-21
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to a3ea3703fb0db66c76a92173d4ba1af94ca27f67 2025-08-21 (#1067)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

changes in the mlir
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Download using GH
  .github/workflows/call-build.yml
  .github/workflows/call-test.yml
  .github/workflows/on-nightly.yml
  .github/workflows/on-pr.yml
  .github/workflows/on-push.yml
  .github/workflows/run_tests.yml
  whl.zip
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Install github gh tool
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

update JAX tests for MarianMT and LongT5
  tests/jax/single_chip/models/longt5/base_tglobal/test_longt5_base_tglobal.py
  tests/jax/single_chip/models/longt5/large_local/test_longt5_large_local.py
  tests/jax/single_chip/models/longt5/tester.py
  tests/jax/single_chip/models/longt5/xl_tglobal/test_longt5_xl_tglobal.py
  tests/jax/single_chip/models/marian/opus_mt_en_de/test_marian_opus_mt_en_de.py
  tests/jax/single_chip/models/marian/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
