Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

Remove old multichip funcs
  tt_torch/backend/backend.py
  tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT

Pipe through compile config
  tests/infra/runners/device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove invalid compile_config options
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove unused functions
  tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT

Remove op-by-op related code
  tt_torch/tools/utils.py
Owners: @ajakovljevicTT, @mrakitaTT

Fixed large model tests and reduce_scatter tests (#944)
  .github/workflows/on-nightly.yml
  .github/workflows/test-full-model-matrix.json
  tests/jax/multi_chip/llmbox/4_devices/graphs/tensor_parallel/test_dot_psum_scatter.py
  tests/jax/multi_chip/llmbox/4_devices/ops/data_parallel/batch_sharded/test_psum_scatter.py
  tests/jax/multi_chip/llmbox/8_devices/graphs/tensor_parallel/test_dot_psum_scatter.py
  tests/jax/multi_chip/llmbox/8_devices/ops/data_parallel/batch_sharded/test_psum_scatter.py
  tests/jax/multi_chip/n300/graphs/tensor_parallel/test_dot_psum_scatter.py
  tests/jax/multi_chip/n300/ops/data_parallel/batch_sharded/test_psum_scatter.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Bringup tt-forge-fe models - set11 (#87)
  alexnet/pytorch/__init__.py
  alexnet/pytorch/loader.py
  dla/pytorch/loader.py
  efficientnet/pytorch/loader.py
  hrnet/pytorch/loader.py
  vgg/pytorch/loader.py
  vovnet/pytorch/loader.py
  vovnet/pytorch/src/src_vovnet_stigma.py
  vovnet/pytorch/src/utils.py
  wide_resnet/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

support tt_forge_models ModelInfo as key
  tests/conftest.py
  tests/torch/single_chip/models/bert/test_bert_base.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add 308 passing tests to .test_durations
  .test_durations
Owners: @ajakovljevicTT, @mrakitaTT

Initial drop of tests/runner/*.py from tt-torch 20e10bda from Aug16
  pytest.ini
  requirements.txt
  tests/runner/conftest.py
  tests/runner/requirements.py
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Update TorchModelTester _get_forward_method_args() for list/tuple inputs
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Initial changes to get test_models.py working in tt-xla
  tests/runner/test_config.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
  tests/utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Print intermediate IR with TT_TORCH_IR_LOG_LEVEL=DEBUG, also print tensor strategy
  src/common/module_builder.cc
  src/common/module_builder.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update torch tests for tt-forge-models uplift and ModelVariant
  tests/torch/single_chip/models/swin/test_swin.py
  tests/torch/single_chip/models/swin/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 84b226f2298c285b31fb0792f2cc4685e0065876 2025-08-19
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update JAX tests for Distilbert and Electra
  tests/jax/single_chip/models/distilbert/test_distilbert.py
  tests/jax/single_chip/models/electra/base_discriminator/test_electra_base_discriminator.py
  tests/jax/single_chip/models/electra/base_generator/test_electra_base_generator.py
  tests/jax/single_chip/models/electra/large_discriminator/test_electra_large_discriminator.py
  tests/jax/single_chip/models/electra/small_discriminator/test_electra_small_discriminator.py
  tests/jax/single_chip/models/electra/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 84b226f2298c285b31fb0792f2cc4685e0065876 2025-08-19 (#1034)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update requirements.txt
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update requirements.txt
  requirements.txt
Owners: @ajakovljevicTT, @mrakitaTT

update fail reasons for opt and vovnet
  tests/jax/single_chip/models/opt/opt_125m/test_125m.py
  tests/jax/single_chip/models/opt/opt_350m/test_350m.py
  tests/torch/single_chip/models/vovnet/test_vovnet.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

[test] fix torch runner to handle inputs properly
  tests/infra/runners/torch_device_runner.py
  tests/torch/single_chip/models/resnet/test_resnet.py
  tests/torch/single_chip/models/resnet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

update fail reasons for opt and vovnet (#1035)
  tests/jax/single_chip/models/opt/opt_125m/test_125m.py
  tests/jax/single_chip/models/opt/opt_350m/test_350m.py
  tests/torch/single_chip/models/vovnet/test_vovnet.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update LLMConfig to mark max_len as Optional with JAX models (#95)
  albert/masked_lm/jax/loader.py
  bart/causal_lm/jax/loader.py
  bert/masked_lm/jax/loader.py
  bigbird/question_answering/jax/loader.py
  blenderbot/summarization/jax/loader.py
  config.py
Owners: @ajakovljevicTT, @mrakitaTT

fix
  tests/torch/single_chip/models/bert/test_bert_base.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

update autoencoder_linear failure reason
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Initial CI ymls ported from tt-torch
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add requirements for torch tests
  requirements.txt
  tests/torch/single_chip/models/swin/tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

update autoencoder_linear failure reason (#1039)
  requirements.txt
  tests/torch/single_chip/models/autoencoder_linear/test_autoencoder_linear.py
  tests/torch/single_chip/models/swin/tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Update
  .github/workflows/on-nightly.yml
  .github/workflows/update-test-durations.yml
  python_package/setup.py
  venv/activate
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Update
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

changed
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

some updates
  .github/workflows/run-tt-forge-models-tests.yml
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Trim to 20 passing models for testing
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Hack to run on branch
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Add test-forge-models-matrix.json and use in nightly
  .github/workflows/on-nightly.yml
  .github/workflows/test-forge-models-matrix.json
  tests/runner/test_models.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Fix tt-forge-models wrapper job
  .github/workflows/tt-forge-models-tests.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
