Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT
pytest.ini @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT
.test_durations @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic @ndrakulicTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic

# Third Party
/third_party/ @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

Add element-wise scatter tests (#1749)
  tests/jax/single_chip/ops/test_scatter.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

updated yaml
  tests/runner/test_config/test_config_inference_data_parallel.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

add new passing data parallel models
  .github/workflows/test-matrix-presets/model-test-passing.json
  tests/runner/test_config/test_config_inference_data_parallel.yaml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT, @sdjukicTT, @sgligorijevicTT

only test data parallel
  .github/workflows/test-matrix-presets/model-test-passing.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Fix docs build by adding a tools page
  docs/src/SUMMARY.md
  docs/src/tools.md
Owners: @ajakovljevicTT, @mrakitaTT

split into two workflows since permissions cannot be made optional
  .github/workflows/call-build-and-deploy-docs.yml
  .github/workflows/call-check-docs-build.yml
  .github/workflows/pr-main.yml
  .github/workflows/push-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Check if docs build breaks during On PR but don't deploy
  .github/workflows/call-build-docs.yml
  .github/workflows/pr-main.yml
  .github/workflows/push-main.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

working with test push
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

fix pcc typo
  tests/runner/test_config/test_config_inference_data_parallel.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Fix LATEST_TT_FORGE_MODELS_VERSION usage and allow manual dispatch to create PR too
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Test schedule-uplift-forge-models.yml on push
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Fix docs build in main (#1803)
  .github/workflows/call-build-and-deploy-docs.yml
  .github/workflows/call-check-docs-build.yml
  .github/workflows/pr-main.yml
  .github/workflows/push-main.yml
  docs/src/SUMMARY.md
  docs/src/tools.md
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Make GH token usage more like schedule-uplift.yml to avoid permission errors
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Uplift third_party/tt-mlir to e88bb14fa896be9b87386fcd850e48e6da9518d2 2025-10-25
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add xfail for model failing with pcc error
  tests/runner/test_config/test_config_inference_single_device.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Added llama, pixtral, qwen3 shard specs (#213)
  llama/causal_lm/pytorch/loader.py
  mistral/pixtral/pytorch/loader.py
  mistral/pytorch/loader.py
  qwen_3/embedding/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

change GH_TOKEN setting
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Make GH token usage more like schedule-uplift.yml to avoid permission errors
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Remove GH_TOKEN from env to avoid precedence issues, more like working schedule-uplift.yml, works now
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Port list-of-changes improvement from tt-torch to give more info and use backticks
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Port list-of-changes improvement from tt-torch to give more info and use backticks
  .github/workflows/schedule-uplift-forge-models.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

summarize script updates for combined stuff
  .github/scripts/summarize_junit_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Updatesa to summarize_junit_xml.py
  .github/scripts/summarize_junit_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

summarize script fix
  .github/scripts/summarize_junit_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Some scripts for download and summarize CI artifacts/reports
  .github/scripts/download_artifacts.py
  .github/scripts/summarize_junit_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

spacing
  .github/scripts/model_bringup_summary.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add filter option --group , example --group red
  .github/scripts/model_bringup_summary.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Fail earlier and add new asserts if running TP model without shard specs
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_utils.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add totals for model family
  .github/scripts/model_bringup_summary.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

.github/scripts/model_bringup_summary.py with type changes
  .github/scripts/model_bringup_summary.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add customer_model_maps.py helper script for converting model name in XLS to nest and model_name
  customer_model_maps.py
Owners: @ajakovljevicTT, @mrakitaTT

Fix gliner
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/workloads/workload.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Initial .github/scripts/promote_tests_from_xml.py
  .github/scripts/promote_tests_from_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

fix mapping
  .github/scripts/promote_tests_from_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Write back to original yaml
  .github/scripts/promote_tests_from_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

display the group
  .github/scripts/promote_tests_from_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

sort plan before print and apply
  .github/scripts/promote_tests_from_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Use ruamel.yaml
  .github/scripts/promote_tests_from_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

long width don't wrap lines
  .github/scripts/promote_tests_from_xml.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT

Add 11 Tensor Parallel tests from llama, qwen3, pixtral, mistral: 9 red, 2 generality
  tests/runner/test_config/test_config_inference_tensor_parallel.yaml
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @ndrakulicTT
