Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_config/test_config_inference.py
  tests/runner/test_config/test_config_training.py
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Torch training infra
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/torch/single_chip/models/mnist/mlp/__init__.py
  tests/torch/single_chip/models/mnist/mlp/model_implementation.py
  tests/torch/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/torch/single_chip/models/mnist/mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

nit
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add mark for training/inference
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add proper test
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fix mnist test status
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  pytest.ini
  tests/runner/test_config/test_config_training.py
  tests/runner/test_models.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Update pytest.ini to include new marks
  pytest.ini
Owners: @ajakovljevicTT, @mrakitaTT

WIP
  tests/infra/connectors/torch_device_connector.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Revert debug
  pytest.ini
Owners: @ajakovljevicTT, @mrakitaTT

pre-commit
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Remove unnesserry tests
  tests/torch/single_chip/models/mnist/mlp/__init__.py
  tests/torch/single_chip/models/mnist/mlp/model_implementation.py
  tests/torch/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/torch/single_chip/models/mnist/mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add: comments
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

insert proper issue link
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Revert capture modifications
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

pre-commit
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Enable fwd/bwd compilation
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Update experimental nightly to run only inference models
  .github/workflows/test-matrix-presets/model-test-experimental.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Skip compiling training workloads
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

pre-commit
  tests/runner/test_config/__init__.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

nit
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  test_config.py
  tests/runner/test_config/test_config_training.py
  tools/modify_config.py
  tools/parse_tests.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  tests/infra/connectors/torch_device_connector.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  tests/runner/test_config/test_config_training.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

WIP
  pytest.ini
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/test_config_training.py
  tools/parse_tests.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

test
  .github/workflows/manual-benchmark.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Added option to load shard specs from model loader
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/utilities/__init__.py
  tests/infra/utilities/types.py
  tests/infra/workloads/workload.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

For testing - Add n300-llmbox to push tests via model-test-push.json
  .github/workflows/test-matrix-presets/model-test-push.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift + SPMD Cleanup + CI/Infra changes for supported_archs, n300-llmbox, json updates etc
  .github/workflows/test-matrix-presets/model-test-passing.json
  .github/workflows/test-matrix-presets/model-test-push.json
  .github/workflows/test-matrix-presets/model-test-xfail.json
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/workloads/workload.py
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT, @sdjukicTT, @sgligorijevicTT

Uplift third_party/tt-mlir to eec3938621eb4fca485f01b859b8fc2115013801 2025-09-29
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift + SPMD Cleanup + CI/Infra changes for supported_archs, n300-llmbox, json updates etc
  .github/workflows/test-matrix-presets/model-test-passing.json
  .github/workflows/test-matrix-presets/model-test-push.json
  .github/workflows/test-matrix-presets/model-test-xfail.json
  python_package/torch_plugin_tt/__init__.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/workloads/workload.py
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT, @sdjukicTT, @sgligorijevicTT

For testing - Add n300-llmbox to push tests via model-test-push.json
  .github/workflows/test-matrix-presets/model-test-push.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add perf compile options
  examples/pytorch/compiler_options.py
  inc/common/pjrt_implementation/module_builder/compile_options.h
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/infra/testers/compiler_config.py
  tests/torch/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/torch/single_chip/models/mnist/cnn/tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Bringup MapTR's fusion & tiny_r50_av2_24e variant in pytorch (#168)
  maptr/pytorch/loader.py
  maptr/pytorch/src/maptr.py
Owners: @ajakovljevicTT, @mrakitaTT

try adding xxd
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

create submesh for the optimizer
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic
