Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic

Remove an unused header to trigger CI
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

precommit
  inc/common/pjrt_implementation/module_builder/module_builder.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add support for BEVDepth variants (#162)
  bevdepth/pytorch/loader.py
  bevdepth/pytorch/src/model.py
Owners: @ajakovljevicTT, @mrakitaTT

ModuleBuilder refactor to minimize state (#1328)
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Split up ExecutableImage into FB and SO versions
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  inc/common/pjrt_implementation/module_builder/compile_options.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  src/common/pjrt_implementation/serialized_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

precommit
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

codegen v1 done
  inc/common/pjrt_implementation/module_builder/compile_options.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/CMakeLists.txt
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Address comments
  examples/pytorch/compiler_options.py
  inc/common/pjrt_implementation/module_builder/compile_options.h
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/infra/testers/compiler_config.py
  tests/torch/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add workaround to enable program cache
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update JAX ModelLoaders to use util function to cast type (#143)
  albert/masked_lm/jax/loader.py
  bart/causal_lm/jax/loader.py
  beit/image_classification/jax/loader.py
  bert/masked_lm/jax/loader.py
  bigbird/causal_lm/jax/loader.py
  bigbird/question_answering/jax/loader.py
  blenderbot/summarization/jax/loader.py
  bloom/causal_lm/jax/loader.py
  clip/image_classification/jax/loader.py
  dinov2/image_classification/jax/loader.py
  distilbert/masked_lm/jax/loader.py
  electra/causal_lm/jax/loader.py
  gpt2/causal_lm/jax/loader.py
  gpt_j/causal_lm/jax/loader.py
  gpt_neo/causal_lm/jax/loader.py
  gpt_sw3/causal_lm/jax/loader.py
  llama/causal_lm/jax/loader.py
  longt5/text_classification/jax/loader.py
  marian_mt/text_classification/jax/loader.py
  mbart50/nlp_summarization/jax/__pycache__/loader.py
  mistral/causal_lm/jax/loader.py
  mt5/nlp_summarization/jax/loader.py
  opt/causal_lm/jax/loader.py
  pegasus/summarization/jax/loader.py
  regnet/image_classification/jax/loader.py
  resnet/image_classification/jax/loader.py
  roberta/masked_lm/jax/loader.py
  roberta_prelayernorm/masked_lm/jax/loader.py
  roformer/masked_lm/jax/loader.py
  t5/summarization/jax/loader.py
  tools/jax_utils.py
  vit/image_classification/jax/loader.py
  xglm/causal_lm/jax/loader.py
  xlm_roberta/causal_lm/jax/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Add additional perf compile options (#1465)
  examples/pytorch/compiler_options.py
  inc/common/pjrt_implementation/module_builder/compile_options.h
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  tests/infra/testers/compiler_config.py
  tests/torch/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/torch/single_chip/models/mnist/cnn/tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift third_party/tt-mlir to eec3938621eb4fca485f01b859b8fc2115013801 2025-09-29 (#1478)
  .github/Dockerfile.base
  third_party/CMakeLists.txt
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

[passes] Remove run_shape_prop pass (#1483)
  python_package/tt_torch/backend/passes.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

lint
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add workaround to enable program cache (#1486)
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

mark vit as red
  tests/jax/single_chip/models/vit/vit_base_patch16_224/test_vit_base_patch16_224.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add monkeypatching for jax.random.uniform.
  python_package/jax_plugin_tt/monkeypatch.py
  tests/jax/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Pass submesh to optimizer
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

issues in centernet model
  tests/torch/single_chip/models/centernet/__init__.py
  tests/torch/single_chip/models/centernet/test_centernet.py
  tests/torch/single_chip/models/centernet/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Qwen2.5-7B TP: add requirements and venv docs; add --num_devices/--platform/--use_shardy with env applied pre-import; update README to flags and TPU warning; ignore local venvs and weights
  .gitignore
  tests/jax/multi_chip/bounties/qwen2_5_7b/README.md
  tests/jax/multi_chip/bounties/qwen2_5_7b/generate_multi_chip.py
  tests/jax/multi_chip/bounties/qwen2_5_7b/model.py
  tests/jax/multi_chip/bounties/qwen2_5_7b/requirements.txt
  tests/jax/multi_chip/bounties/qwen2_5_7b/test_gsm8k.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add custom encode test
  tests/torch/single_chip/models/bge_m3/test_bge_m3_custom_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Pass submesh to optimizer (#1504)
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Revert "Add logging, expected tensor layout as part of cache key"
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

set required pcc to 0.97
  tests/torch/single_chip/models/bge_m3/test_bge_m3_custom_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add static cache example tests for tensor persistence validation
  examples/pytorch/test_tensor_persistence.py
Owners: @ajakovljevicTT, @mrakitaTT

pre-commit fixes
  tests/torch/single_chip/models/bge_m3/test_bge_m3_custom_encode.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add base llama model, requires transformers 4.52.4 to run
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

[wip] Add SPMD bplate and shard specs => currently hitting illegal reshape, no ccls?
  examples/pytorch/llama.py
  examples/pytorch/spmd_matmul_test.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

[wip] premove inputs to device, move model.to() device
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

Dump per-pass IR with LOGGER_LEVEL=VERBOSE (#1288)
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Move static cache initialization to host and post-ctor transfer literal tensors to device so they aren't constevalled
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

[wip] Add debug logging to model args
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

[wip] Add base llama demofile
  examples/pytorch/llama.py
Owners: @ajakovljevicTT, @mrakitaTT

Add custom generation loop impl
  examples/pytorch/llama.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Log BufferInstance lifetime experiments
  examples/pytorch/llama.py
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Reapply input shardings on static cache tensors per iteration
  examples/pytorch/llama.py
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

point tt-mlir to rebased test branch 4e7b914c0
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

return torch_xla.sync, export_for_training
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Put tracing for tensor contents and data ptr alteration
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/buffer_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Cache test branch in mlir to reapply shardings
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT
