Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

Uplift third_party/tt-mlir to ec17186d8ef5b77a5f59c76654e429972dcc0616 2025-08-04 (#915)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Update test durations based on latest nightly 2025-08-06
  .test_durations
Owners: @ajakovljevicTT, @mrakitaTT

something doesnt work
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/generate_multi_chip.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/model.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/results/multi_chip.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

it works for now with paralel
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/check_memory.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/convert_weights.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/generate_multi_chip.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/generation.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/model.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/results/multi_chip.txt
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/test_device_access.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update Beit variants to use ModelLoader from tt-forge-models
  tests/jax/single_chip/models/beit/base/test_beit_base.py
  tests/jax/single_chip/models/beit/large/test_beit_large.py
  tests/jax/single_chip/models/beit/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add intermediate debugging
  src/common/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

update to-layoted input tensors in place
  inc/common/pjrt_implementation/buffer_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add profiling logs
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Disable optimizer
  src/common/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

enable program cache
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Open device once for multiple runs, enable optimizer
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/module_builder.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  third_party/CMakeLists.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Avoid reactivating the env
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Dump out input shapes of tensors being pushed
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Legalize shlo custom call mark
  src/common/pipelines.cc
  src/common/pipelines.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

wip set attr
  src/common/pipelines.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

populate actual argument types
  src/common/pipelines.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

use module context
  src/common/pipelines.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Move stable diffusion models to top level directory like other models (yolo, phi) (#73)
  stable_diffusion_1_4/__init__.py
  stable_diffusion_1_4/pytorch/__init__.py
  stable_diffusion_1_4/pytorch/loader.py
  stable_diffusion_3_5/__init__.py
  stable_diffusion_3_5/pytorch/__init__.py
  stable_diffusion_3_5/pytorch/loader.py
  stable_diffusion_unet/__init__.py
  stable_diffusion_unet/pytorch/__init__.py
  stable_diffusion_unet/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

works inference good sharding almost
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/check_memory.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/compare_outputs.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/convert_weights.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/generate_multi_chip.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/model.py
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/results/multi_chip.txt
  tests/jax/multi_chip/bounties/Llama_3.1-8B/llama/test_device_access.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

add some boilerplate for dumping tensors
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fuse mark param custom call to argument type
  src/common/pipelines.cc
  src/common/pipelines.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add name tracking
  src/common/pipelines.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

add comments
  src/common/pipelines.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Remove unnecessary llama dtype_override (#74)
  llama/causal_lm/pytorch/loader.py
  llama/sequence_classification/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 042ba3437054f8a866df47a376487fd0e23dda74 2025-08-07
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Added collection of attributes
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Filled tt-mlir arguments
  src/common/module_builder.cc
  src/common/module_builder.h
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 042ba3437054f8a866df47a376487fd0e23dda74 2025-08-07 (#948)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Added blackhole split to nightly
  .github/workflows/on-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fixed some tests
  .github/workflows/test.yml
  tests/jax/multi_chip/llmbox/4_devices/graphs/tensor_parallel/test_dot_psum_scatter.py
  tests/jax/multi_chip/llmbox/4_devices/ops/data_parallel/batch_sharded/test_psum_scatter.py
  tests/jax/multi_chip/llmbox/8_devices/graphs/tensor_parallel/test_dot_psum_scatter.py
  tests/jax/multi_chip/llmbox/8_devices/ops/data_parallel/batch_sharded/test_psum_scatter.py
  tests/jax/multi_chip/n300/graphs/tensor_parallel/test_dot_psum_scatter.py
  tests/jax/multi_chip/n300/ops/data_parallel/batch_sharded/test_psum_scatter.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Changed matrix
  .github/workflows/test-full-model-matrix.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Fixes
  .github/workflows/on-nightly.yml
  .github/workflows/test-full-model-matrix.json
  .github/workflows/test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT

Plumb trough IRs up to SerializedExecutableInstance
  inc/common/pjrt_implementation/executable_image.h
  src/common/module_builder.cc
  src/common/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Plumbing trough SerializedExecutableInstance and python side
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/serialized_executable_instance.h
  src/common/pjrt_implementation/executable_instance.cc
  src/common/pjrt_implementation/serialized_executable_instance.cc
  ttxla_tools/__init__.py
  ttxla_tools/ttxla_tools.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Fix a typo in a name
  src/common/module_builder.h
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Attached locs to dumped IR when serializing
  src/common/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Update test durations based on latest nightly 2025-08-06 (#943)
  .test_durations
Owners: @ajakovljevicTT, @mrakitaTT

Refactor Multichip-Testers (Model and Ops) and Singlechip-Testers (Ops)
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Workload merge
  tests/infra/__init__.py
  tests/infra/runners/jax_device_runner.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/__init__.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/torch_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Pre-commit
  tests/infra/runners/jax_device_runner.py
  tests/infra/testers/multichip/model/jax_multichip_model_tester.py
  tests/infra/workloads/jax_workload.py
  tests/infra/workloads/workload.py
  tests/infra/workloads/workload_factory.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT
