Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @pilkicTT

Minor cleanup
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

build ttrt and explorer in correct order with metal home passed in
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Enable building explorer when building mlir from xla
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

try runtime debug on
  CMakeLists.txt
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

addressing comments pt2
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

addressing comments pt3
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

[pjrt] reuse device if possible
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

addressing comments pt1
  inc/common/pjrt_implementation/client_instance.h
  inc/common/pjrt_implementation/data_type_utils.h
  inc/common/pjrt_implementation/utils.h
  src/common/pjrt_implementation/client_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

remove initial decompos
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Remove 3 skipped models from test_config that were removed from tt-forge-models due to being duplicates with others
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Mark 2x RED phi3/causal_lm tests as EXPECTED_PASSING w/ INCORRECT_RESULT due to low pcc, exposed after loader fix
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

increase the timeout for manual test dispatch wf
  .github/workflows/manual-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

rename tt_torch to tt_torch_core
  examples/pytorch/explicit_argument_type_annotation_mnist.py
  examples/pytorch/serialization_example.py
  python_package/torch_plugin_tt/__init__.py
  python_package/tt_torch_core/__init__.py
  python_package/tt_torch_core/backend/__init__.py
  python_package/tt_torch_core/backend/backend.py
  python_package/tt_torch_core/backend/decompositions.py
  python_package/tt_torch_core/backend/passes.py
  python_package/tt_torch_core/custom_ops.py
  python_package/tt_torch_core/serialization.py
  python_package/tt_torch_core/tools.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

add test files
  tests/torch/single_chip/models/centernet/__init__.py
  tests/torch/single_chip/models/centernet/test_centernet.py
  tests/torch/single_chip/models/centernet/tester.py
  tests/torch/single_chip/models/maptr/__init__.py
  tests/torch/single_chip/models/maptr/test_maptr.py
  tests/torch/single_chip/models/maptr/tester.py
  tests/torch/single_chip/models/mplug_owl2/__init__.py
  tests/torch/single_chip/models/mplug_owl2/test_mplug_owl2.py
  tests/torch/single_chip/models/mplug_owl2/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Xfailed more models
  tests/jax/single_chip/models/opt/opt_2_7b/test_2_7b.py
  tests/jax/single_chip/models/xlm_roberta/base/test_xlm_roberta_base.py
  tests/jax/single_chip/models/xlm_roberta/large/test_xlm_roberta_large.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Out parameters :(
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

MOre fixes
  tests/jax/single_chip/models/llama/openllama_3b_v2/test_openllama_3b_v2.py
  tests/jax/single_chip/models/opt/opt_2_7b/test_2_7b.py
  tests/jax/single_chip/models/xlm_roberta/base/test_xlm_roberta_base.py
  tests/jax/single_chip/models/xlm_roberta/large/test_xlm_roberta_large.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Added support for falcon
  python_package/tt_torch/backend/backend.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/runner/test_models.py
  tests/runner/test_utils.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Update pythonpath and mlir build dir to match where mlir python exists and where opt exists
  third_party/CMakeLists.txt
  venv/activate
Owners: @ajakovljevicTT, @mrakitaTT

Re-enable PCC checks in llama3 tests after https://github.com/tenstorrent/tt-torch/issues/1176 https://github.com/tenstorrent/tt-forge-fe/issues/2833 fixed
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Tag new tests with push for CI testing against WH + BH
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Xfailing nightly tests (#1435)
  .pre-commit-config.yaml
  examples/jax/simple_regression.py
  examples/pytorch/alexnet.py
  examples/pytorch/mnist.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  python_package/tt_torch/backend/decompositions.py
  python_package/tt_torch/backend/passes.py
  tests/jax/multi_chip/bounties/falcon3_7b/model/model_falcon3.py
  tests/jax/single_chip/models/llama/openllama_3b_v2/test_openllama_3b_v2.py
  tests/jax/single_chip/models/model_utils.py
  tests/jax/single_chip/models/opt/opt_2_7b/test_2_7b.py
  tests/jax/single_chip/models/xlm_roberta/base/test_xlm_roberta_base.py
  tests/jax/single_chip/models/xlm_roberta/large/test_xlm_roberta_large.py
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Add xxd to Dockerfile
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

Uplift tt-forge-models for phi3/causal_lm mini 4k/128k red model dtype_override fixes (#1446)
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

CI/Infra changes for supported_archs, n300-llmbox, json updates etc
  .github/workflows/test-matrix-presets/model-test-passing.json
  .github/workflows/test-matrix-presets/model-test-push.json
  .github/workflows/test-matrix-presets/model-test-xfail.json
  tests/runner/conftest.py
  tests/runner/test_config.py
  tests/runner/test_utils.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @sdjukicTT, @sgligorijevicTT

Uplift third_party/tt-mlir to 6b815594daf1c468f02f0bc6f4223e6fa9219f7c 2025-09-24
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Uplift third_party/tt-mlir to 6b815594daf1c468f02f0bc6f4223e6fa9219f7c 2025-09-24 (#1449)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

[decompositions] Remove unused decompositions (#1444)
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

remove bypass_assert
  python_package/tt_torch/backend/backend.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Bringup BEVDepth pytorch model (#153)
  bevdepth/pytorch/__init__.py
  bevdepth/pytorch/loader.py
  bevdepth/pytorch/src/model.py
Owners: @ajakovljevicTT, @mrakitaTT

timeout = 360m
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT

[decompositions] Remove unused decompositions (#1444)
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT

Add multiloop tensor add test (passing due to torch_xla bufferinstance aliasing)
  examples/pytorch/test_tensor_persistence.py
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT

Xfailing nightly tests (#1435)
  .pre-commit-config.yaml
  examples/jax/simple_regression.py
  examples/pytorch/alexnet.py
  examples/pytorch/mnist.py
  integrations/vllm_plugin/vllm_tt/model_runner.py
  python_package/tt_torch/backend/decompositions.py
  python_package/tt_torch/backend/passes.py
  tests/jax/multi_chip/bounties/falcon3_7b/model/model_falcon3.py
  tests/jax/single_chip/models/llama/openllama_3b_v2/test_openllama_3b_v2.py
  tests/jax/single_chip/models/model_utils.py
  tests/jax/single_chip/models/opt/opt_2_7b/test_2_7b.py
  tests/jax/single_chip/models/xlm_roberta/base/test_xlm_roberta_base.py
  tests/jax/single_chip/models/xlm_roberta/large/test_xlm_roberta_large.py
  tests/runner/test_config.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Uplift tt-forge-models for phi3/causal_lm mini 4k/128k red model dtype_override fixes (#1446)
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Uplift third_party/tt-mlir to 6b815594daf1c468f02f0bc6f4223e6fa9219f7c 2025-09-24 (#1449)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Bringup UNIAD Model
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Split up ExecutableImage into FB and SO versions
  inc/common/pjrt_implementation/executable_image.h
  inc/common/pjrt_implementation/loaded_executable_instance.h
  inc/common/pjrt_implementation/module_builder/compile_options.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/dylib_platform.cc
  src/common/pjrt_implementation/client_instance.cc
  src/common/pjrt_implementation/executable_image.cc
  src/common/pjrt_implementation/loaded_executable_instance.cc
  src/common/pjrt_implementation/module_builder/compile_options.cc
  src/common/pjrt_implementation/module_builder/module_builder.cc
  src/common/pjrt_implementation/serialized_executable_instance.cc
  src/common/platform.cc
  src/tt/client.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

fix torch infra issue to test ops and graphs (#1426)
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/op/op_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT

Bringup vadv2 pytorch models (#80)
  vadv2/pytorch/__init__.py
  vadv2/pytorch/loader.py
  vadv2/pytorch/src/bbox.py
  vadv2/pytorch/src/dataset.py
  vadv2/pytorch/src/transformer.py
  vadv2/pytorch/src/vad.py
  vadv2/pytorch/src/vad_head.py
  vadv2/pytorch/src/vad_utils.py
Owners: @ajakovljevicTT, @mrakitaTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT
