Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

update README anc clean code
  tests/jax/multi_chip/bounties/gemma3/README.md
  tests/jax/multi_chip/bounties/gemma3/__init__.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3_tp.py
  tests/jax/multi_chip/bounties/gemma3/jax_config.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_multi.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

implement gemma3 tp
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3_tp.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_multi.py
  tests/jax/multi_chip/bounties/gemma3/test/hf_vs_single.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

update requirements.txt
  tests/jax/multi_chip/bounties/gemma3/requirements.txt
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

fix pre-commit error
  tests/jax/multi_chip/bounties/gemma3/gemma3/base.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3.py
  tests/jax/multi_chip/bounties/gemma3/gemma3/gemma3_tp.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Torch training infra
  .github/workflows/test-matrix-presets/model-test-experimental.json
  pytest.ini
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_config/test_config_inference.py
  tests/runner/test_config/test_config_training.py
  tests/runner/test_models.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT

fix: CI failing because torch initialization in jax tests
  tests/conftest.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift third_party/tt-mlir to d5bf8aaf4aced9952b67f9ec5ec4d31fe16af56a 2025-10-01
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

nit: move set_training_mode
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift third_party/tt-mlir to d5bf8aaf4aced9952b67f9ec5ec4d31fe16af56a 2025-10-01 (#1524)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

test
  .github/workflows/test-matrix-presets/basic-test.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

test
  .github/workflows/test-matrix-presets/basic-test.json
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

increase the timeout for manual test dispatch wf
  .github/workflows/manual-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Tensor dumping
  inc/common/pjrt_implementation/loaded_executable_instance.h
  inc/common/pjrt_implementation/module_builder/module_builder.h
  src/common/pjrt_implementation/loaded_executable_instance.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

Add stuff
  examples/jax/serialization_example.py
  test_serialize_example.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
  tests/jax/single_chip/ops/test_add.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add model stuff
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/jax/single_chip/models/mnist/mlp/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fixing
  python_package/tt_jax/serialization.py
  tests/infra/runners/device_runner.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Added guard
  tests/conftest.py
  tests/jax/single_chip/ops/test_add.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add torch
  python_package/tt_torch/serialization.py
  tests/conftest.py
  tests/infra/connectors/torch_device_connector.py
  tests/infra/testers/single_chip/model/jax_model_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/jax/single_chip/models/mnist/mlp/tester.py
  tests/jax/single_chip/ops/test_add.py
  tests/torch/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/torch/single_chip/models/mnist/cnn/tester.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

Some fixes
  test_serialize_example.py
  tests/infra/connectors/torch_device_connector.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/jax/single_chip/ops/test_add.py
Owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Fixed inits
  tests/infra/__init__.py
  tests/infra/testers/__init__.py
  tests/infra/testers/multichip/__init__.py
  tests/infra/testers/multichip/op/jax_multichip_op_tester.py
  tests/infra/testers/single_chip/__init__.py
  tests/jax/multi_chip/n300/ops/tensor_parallel/test_negative_op.py
  tests/jax/single_chip/ops/test_add.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Nameing changes
  tests/infra/testers/base_tester.py
  tests/infra/testers/single_chip/model/model_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/jax/single_chip/models/mnist/mlp/test_mnist_mlp.py
  tests/jax/single_chip/models/mnist/mlp/tester.py
  tests/jax/single_chip/ops/test_add.py
  tests/torch/single_chip/models/mnist/cnn/dropout/test_mnist_cnn_dropout.py
  tests/torch/single_chip/models/mnist/cnn/tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Added to models
  tests/infra/testers/base_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/runner/test_models.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Small fixes
  tests/infra/testers/base_tester.py
  tests/infra/testers/single_chip/op/op_tester.py
  tests/infra/workloads/workload.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

using interpreter and local thread to pass information
  aten_to_hlo.md
  cache_pytorch_codegen/221507731190212155755382810965341670560
  problem_info.md
  python_package/tt_torch/backend/backend.py
  tests/torch/single_chip/locs.py
  tests/torch/single_chip/test_nested_model.py
  tests/torch/single_chip/test_torch_xla_basic.py
  third_party/CMakeLists.txt
  torch-xla_build.md
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT, @kmabeeTT, @jameszianxuTT

wip
  .github/workflows/call-test.yml
  .github/workflows/manual-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

fix to check rerun attempt when same job number fails in different test matrix
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

new approach
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

calculations
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

keep venv in ird image, remove from ci image
  .github/Dockerfile.ci
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add logging
  .github/Dockerfile.ci
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

refactor docker image build logic
  .github/Dockerfile.ci
  .github/build-docker-images.sh
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

fix
  .github/Dockerfile.ci
  .github/build-docker-images.sh
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

dummy trigger for image rebuild
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

remove comment
  .github/build-docker-images.sh
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

remove dummy comment
  .github/Dockerfile.base
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

refactor dockerfile
  .github/Dockerfile.ci
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

refactor dockerfiles
  .github/Dockerfile.ci
  .github/Dockerfile.ird
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

remove unused timeout input param
  .github/workflows/call-test.yml
  .github/workflows/schedule-nightly-experimental.yml
  .github/workflows/schedule-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

change inaccuracy factor
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

change variable name
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic
