Repository tenstorrent/tt-xla, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ajakovljevicTT, @mrakitaTT, @sdjukicTT, @sgligorijevicTT, @vmilosevic, @jmcgrathTT, @nsumrakTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

# Global
* @ajakovljevicTT @mrakitaTT

# Source
/inc/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT
/src/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT

# CI
/.github/ @vmilosevic @jmcgrathTT @nsumrakTT @ajakovljevicTT @mrakitaTT @vvukomanTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Tests
/tests/ @sdjukicTT @sgligorijevicTT @ajakovljevicTT @mrakitaTT @kmabeeTT @jameszianxuTT @AleksKnezevic

# Python package
/python_package/ @ajakovljevicTT @mrakitaTT @pilkicTT @AleksKnezevic

Enable fwd/bwd compilation
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

fix
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add tt-mlir's venv to xla-ird docker image (#1527)
  .github/Dockerfile.ci
  .github/Dockerfile.ird
  .github/build-docker-images.sh
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

remove unnecessary logic
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add support for numpy outputs
  tests/infra/comparators/torch_comparator.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add FunctionModule wrapper
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Increase the timeout for manual test dispatch workflow (#1445)
  .github/workflows/call-test.yml
  .github/workflows/schedule-nightly-experimental.yml
  .github/workflows/schedule-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Enable optimizer (no sharding)
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

command line limit, has to do with file
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Implement torch training infra (#1339)
  .github/workflows/test-matrix-presets/model-test-experimental.json
  pytest.ini
  tests/conftest.py
  tests/infra/connectors/torch_device_connector.py
  tests/infra/runners/torch_device_runner.py
  tests/infra/testers/single_chip/model/torch_model_tester.py
  tests/runner/test_config/__init__.py
  tests/runner/test_config/test_config_inference.py
  tests/runner/test_config/test_config_training.py
  tests/runner/test_models.py
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic, @sdjukicTT, @sgligorijevicTT

disable debug dumps, disable after pass dumps, print IR to file
  src/common/pjrt_implementation/module_builder/module_builder.cc
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT

[CI] Fix to test rerun (#1531)
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Added single attention test
  tests/torch/single_chip/graphs/test_attention.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

attempt executable with torch.compile
  tests/infra/testers/single_chip/model/torch_model_tester.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

initial commit for testing submodules for stable diffusion.
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

added initial stab diff test.
  tests/torch/single_chip/models/stable_diffusion/test_stable_diffusion.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Pre-commit, deprecation for tt-torch, fix doc link.
  README.md
Owners: @ajakovljevicTT, @mrakitaTT

hrnet/pytorch-hrnetv2_w48_osmr-full-inference fix:
  tests/runner/test_config.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Push trigger nightly
  .github/workflows/schedule-nightly.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Update falcon get_mesh_config() to work for ModelVariant.FALCON_MAMBA_7B t3k and single chip (#175)
  falcon/pytorch/loader.py
Owners: @ajakovljevicTT, @mrakitaTT

Some skips
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add changes to the model
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Lower PCC from 0.99 to 0.985 for hrnet/pytorch-hrnetv2_w48_osmr-full-inference in BH to match WH (#1534)
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add test config for centernet model
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add test config for centernet model (#1509)
  tests/runner/test_config/test_config_inference.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

convert output to number
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift third_party/tt-mlir to f988c33ddf683ad218888c0a6b473de32003770b 2025-10-02
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

tmp
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Uplift third_party/tt-mlir to f988c33ddf683ad218888c0a6b473de32003770b 2025-10-02 (#1544)
  third_party/CMakeLists.txt
Owners: @ajakovljevicTT, @mrakitaTT

Skipping optimizer
  tests/jax/single_chip/models/resnet_v1_5/resnet_26/test_resnet_26.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Formatting fix
  tests/jax/single_chip/models/resnet_v1_5/resnet_26/test_resnet_26.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Update docstring
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Fix gh merge error
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

Skipping optimizer test in nightly CI (#1548)
  tests/jax/single_chip/models/resnet_v1_5/resnet_26/test_resnet_26.py
Owners: @sdjukicTT, @sgligorijevicTT, @ajakovljevicTT, @mrakitaTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Add decomposition for clamp const inputs (#1520)
  python_package/tt_torch/backend/decompositions.py
Owners: @ajakovljevicTT, @mrakitaTT, @pilkicTT, @AleksKnezevic

convert output to number
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

add pytest.ini to avoid warnings
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

store magic number in a variable
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

handle unpredictable slower tests which break estimates
  .github/workflows/call-test.yml
Owners: @vmilosevic, @jmcgrathTT, @nsumrakTT, @ajakovljevicTT, @mrakitaTT, @vvukomanTT, @kmabeeTT, @jameszianxuTT, @AleksKnezevic

Remove more changes
  integrations/vllm_plugin/vllm_tt/model_runner.py
Owners: @ajakovljevicTT, @mrakitaTT
